html {
	background: #fff;
}

body {
	border: 1px solid #595959;
	border-radius: 25px;
	background: #dddddd;
	font-family: Helvetica, Arial, sans-serif;
	margin: 1em 1%;
	padding: 1em;
}

h1 {
	display: inline;
}

button {
    width: 150px;
}

header img {
	vertical-align: middle;
}

.block {
	vertical-align: top;
	width: 280px;
	display: inline-block;
}

.timedisplay {
	font-family: monospace;
	text-align: center;
	font-weight: bold;
	font-size: 1.5em;
}

#scriptlist {
	width: 300px;
}

#activescript {
	font-weight: bold;
}
