@font-face {
	font-family: DejaVuSans;
	src: url("DejaVuSans.ttf");
}

@font-face {
	font-family: DejaVuSansMono;
	src: url("DejaVuSansMono.ttf");
}

/* --- Stellarium-style jQuery UI Theme for some objects ---*/

/* Base stuff */
.ui-widget {
	font-size: 1em;
	font-family: DejaVuSans,Verdana,Helvetica,Arial,sans-serif;
}

.ui-widget-content {
	border: none;
    color: rgb(3,3,3);
    background: linear-gradient(rgb(86, 87, 90),rgb(48, 49, 52));
}

.ui-widget-content ::selection {
    background: rgb(253, 216, 134);
}

.ui-widget-content ::-moz-selection {
    background: rgb(253, 216, 134);
}

/* Tab customization */
.ui-tabs {
    padding: 0px;
    background: rgb(31,31,31);
    border-width: 0px;
}

.ui-tabs .ui-widget-header { 
    background: transparent; 
    border: none; 
    border-radius: 0px; 
}

.ui-tabs .ui-widget-header .ui-state-default a {
    font-weight: bold;
    color: rgb(170, 173, 164);
}

.ui-tabs .ui-widget-header .ui-state-active a {
    color: rgb(220, 223, 214);
}

.ui-tabs.ui-corner-all {
    border-radius: 0px;
}

.ui-tabs .ui-tabs-nav {
    padding-left: 0px;
    background: transparent;
    border-width: 0px 0px 1px 0px;
    border-radius: 0px;
}

.ui-tabs .ui-tabs-nav .ui-corner-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.ui-tabs .ui-tabs-nav .ui-state-default { 
    background: transparent; 
    border: none; 
}

.ui-tabs .ui-tabs-nav .ui-state-active { 
    background: linear-gradient(rgb(68, 69, 72),rgb(86, 87, 90)); 
    border: none; 
}

.ui-tabs .ui-tabs-panel {
    color: rgb(3,3,3);
    background: linear-gradient(rgb(86, 87, 90),rgb(48, 49, 52));
    border-width: 0px;
	border-radius: 0px;
}

/* Large vertical spinners */
.ui-spinner {
    display: inline-block;
    overflow: hidden;
    padding: 0;
    position: relative;
    vertical-align: middle;
	background: linear-gradient(rgb(180, 180, 183),rgb(93, 95, 98));
	border-radius: 0px;
}

.ui-spinner-button {
	border-radius: 0px;
}

.ui-spinner a.ui-spinner-button {
	border-top: none;
	border-bottom: none;
	border-right: none;
	border-left: none;
}

.ui-spinner-button.ui-spinner-up {
    background: linear-gradient(rgb(97, 97, 92),rgb(74, 74, 75));
}

.ui-spinner-button.ui-spinner-down {
    background: linear-gradient(rgb(68, 68, 69),rgb(40, 40, 40));
}

#timewidget .ui-spinner-input {
    margin: 12px 0.2em;
    text-align: center;
}

#timewidget .ui-spinner a.ui-spinner-button {
    border: medium none;
}

#timewidget .ui-spinner-button {
    height: 10px;
    left: 0;
    width: 100%;
	
    cursor: default;
    display: block;
    font-size: 0.5em;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    text-align: center;
}

#timewidget .ui-spinner .ui-icon {
    left: 50%;
    margin-left: -7px;
    margin-top: -3px;
    top: 0;
    position: absolute;
}

/* Autocomplete */
.ui-autocomplete {
	max-height: 200px;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
}
  
* html .ui-autocomplete {
	height: 200px;
}

/* fix for a 1px discrepancy when using a different background */
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

/* End jQuery UI override */

html {
	background: #fff url("stars.png");
	font-size: 13px;
	font-family: DejaVuSans,Verdana,Helvetica,Arial,sans-serif;
}

select {
	padding: 1px 0px;
	font-size: small;
}

#wrapper {
	border: 1px solid #595959;
	margin: 1em;
	padding: 1em;
}

#footer {
	margin: 0 1%;
	position: relative;
}

.center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.bold {
	font-weight: bold;
}

.block {
	position: relative;
	padding: 15px;
	padding-top: 35px;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	background: rgba(149, 150, 152, 0.2);
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-style: inset;
	border-radius: 10px;
	text-align: center;
	vertical-align: top;
	min-width: 18em;
	min-height: 22em;
	display: inline-block;
}

.block header {
	display: block;
	text-align: left;
	position: absolute;
	left: 17px;
	top: 10px;
	color: rgb(0,0,0);
}

.block header h2 {
	font-size: 14px;
	margin: 0px;
	display: inline-block;
}

.flex {
	display: flex;
}

.inline-flex {
	display: inline-flex;
}

.flex-expand {
	flex-grow: 1;
}

.flex-column {
	flex-direction: column;
}

#noresponse {
	vertical-align: middle;
	font-weight: bold;
	margin-left: 60px;
	display: block;
}

#loadindicator {
	position: absolute;
	display: inline-block;
	vertical-align: middle;
	margin-left: 16px;
	width: 32px;
	height: 32px;
	background-image: url("ajax-loader.gif");
}

header h1 {
	margin-left: 1em;
	display: inline-block;
	vertical-align: middle;
}

header img {
	vertical-align: middle;
	height: 64px;
	width: 64px;
}

#timewidget {
	font-size: 14px;
	min-width: 295px;	
}

.ui-tabs-panel.timetab {
	background: linear-gradient(rgb(235, 239, 249),rgb(210, 214, 224));
}

.timedisplay {
	font-family: DejaVuSansMono,"Courier New",monospace;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
}

#time_jday .timedisplay {
	text-align: right;
}

#time_jday > div {
	display: inline-block;
}

#date_year {
	width: 4em;
}

#date_month,
#date_day,
#time_hour,
#time_minute,
#time_second {
	width: 2em;
}

#input_jd,
#input_mjd{
	width: 8em;
}

#timecontrols {
	display: inline-block;
	list-style: none;
	text-align: center;
	margin-top: 10px;
	padding: 6px;
}

#timecontrols li {
	vertical-align: middle;
}

.button32 {
	cursor: pointer;
	height: 32px;
	width: 32px;
	display: inline-block;
	background-repeat: no-repeat;
}

/* The following is a bit ugly, maybe find a way to simplify? */

#bt_timerewind {
	background-image: url("btTimeRewind-off.png");
}

#bt_timerewind.active {
	background-image: url("btTimeRewind-on.png");
}

#bt_timerewind:hover {
	background-image: url("glow32x32.png"), url("btTimeRewind-off.png");
}

#bt_timerewind.active:hover {
	background-image: url("glow32x32.png"),url("btTimeRewind-on.png");
}

#bt_timeplaypause {
	background-image: url("btTimeRealtime-off.png");
}

#bt_timeplaypause.active {
	background-image: url("btTimeRealtime-on.png");
}

#bt_timeplaypause.paused {
	background-image: url("btTimePause-on.png");
}

#bt_timeplaypause:hover {
	background-image: url("glow32x32.png"), url("btTimeRealtime-off.png");
}

#bt_timeplaypause.active:hover {
	background-image: url("glow32x32.png"), url("btTimeRealtime-on.png");
}

#bt_timeplaypause.paused:hover {
	background-image: url("glow32x32.png"), url("btTimePause-on.png");
}

#bt_timenow {
	background-image: url("btTimeNow-off.png");
}

#bt_timenow.active {
	background-image: url("btTimeNow-on.png");
}

#bt_timenow:hover {
	background-image: url("glow32x32.png"), url("btTimeNow-off.png");
}

#bt_timenow.active:hover {
	background-image: url("glow32x32.png"), url("btTimeNow-on.png");
}

#bt_timeforward {
	background-image: url("btTimeForward-off.png");
}

#bt_timeforward.active {
	background-image: url("btTimeForward-on.png");
}

#bt_timeforward:hover {
	background-image: url("glow32x32.png"), url("btTimeForward-off.png");
}

#bt_timeforward.active:hover {
	background-image: url("glow32x32.png"), url("btTimeForward-on.png");
}

#activescript {
	font-weight: bold;
}

.scrollselect {
	padding: 1px 0px;
	height: 12em;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.checkableaction {
	font-style: italic;
}

#loc_map {
	display: inline-block;
	position: relative;
	width: 400px;
	height: 240px;
	overflow: hidden;
}

#loc_mapimg {
	width: 100%;
	height: 100%;
}

#loc_mappointer {
	position: absolute;
	top: 10px;
	left: 10px;
}

#loc_searchlist{
	vertical-align: top;
	height: 240px;
	width: 150px;
}

#loc_searchlist > *{
	width: 100%;
	box-sizing: border-box;
	display: block;
}

#loc_list {
	flex: 1 1 auto;
	position: static;
	overflow-y: auto;
	overflow-x: hidden;
}

#loc_list li {
	white-space: nowrap;
	text-align: left;
}

#loc_inputs {
	text-align: left;
}

#loc_inputs > div {
	display: inline-block;
}

#loc_inputs > div label {
	width: 100px;
	display: inline-block;
}

#loc_name {
	width: 240px;
	box-sizing: border-box;
}

#loc_inputs input.custom-combobox-input {
	width: 212px;
	box-sizing: border-box;
}

#loc_inputs input.ui-spinner-input {
	width: 77px;
	box-sizing: border-box;
}

.custom-combobox {
	background: linear-gradient(#B4B4B7, #5D5F62);
	overflow: hidden;
	position: relative;
	padding: 0px;
	vertical-align: middle;
	display: inline-block;
}
.custom-combobox-toggle {
	position: absolute;
	margin: 0px;
	bottom: 0;
	padding: 0;
	display: block;
	right: 0px;
	height: 100%;
	width: 16px;
}
.custom-combobox-input {
	margin: 0.2em 22px 0.2em 0.4em;
	padding: 0px;
	background: transparent;
	border: none;
}

#srch_results {
	text-align: left;
	width: 400px;
	min-height: 90px;
	font-size: 14px;
	padding-left: 10px;
	padding-right: 5px;
	background: none;
	margin: 5px 0px;
	border: 1px solid black;
}

#srch_results span {
	padding: 1em;
}

#srch_results span.state-selected {
	font-weight: bold;
}

#srch_greek div {
	display: flex;
}

#srch_greek button {
	width: 32px;
	margin: 0px;
	padding: 0px;
	flex-grow: 1;
}

#srch_greek button .ui-button-text {
	padding: 0px;
}

#srch_list_objectlist {
	margin-top: 5px;
	width: 400px;
}

#srch_tab_list {
	text-align: left;
}

#srch_tab_list span.custom-combobox {
	flex-grow: 1;
}

#srch_tab_list input.custom-combobox-input {
	width: 90%;
}

#selection {
	position: relative;
}

#sel_infostring {
	text-align: left;
	white-space: nowrap;
	overflow: auto;
	width: 20em;
	height: 22em;
}

#view_controls {
	display: inline-flex;
	flex-wrap: wrap;
	width: 96px;
	height: 96px;
}

.joybutton {
	background: url("joystick.png") no-repeat;
	cursor: pointer;
	width: 32px;
	height: 32px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

#view_up {
	background-position: -32px 0px;
}

#view_left {
	background-position: 0px -32px;
}

#view_center {
	background-position: -32px -32px;
}

#view_right {
	background-position:  -64px -32px;
}

#view_down {
	background-position:  -32px -64px;
}

#view_wrapper {
	margin-top: 10px;
}