# SOME DESCRIPTIVE TITLE.
# Copyright (C) YEAR Stellarium's team
# This file is distributed under the same license as the PACKAGE package.
# FIRST AUTHOR <EMAIL@ADDRESS>, YEAR.
#
#, fuzzy
msgid ""
msgstr ""
"Project-Id-Version: PACKAGE VERSION\n"
"Report-Msgid-Bugs-To: stellarium@googlegroups.com\n"
"POT-Creation-Date: 2021-03-17 10:50+0700\n"
"PO-Revision-Date: YEAR-MO-DA HO:MI+ZONE\n"
"Last-Translator: FULL NAME <EMAIL@ADDRESS>\n"
"Language-Team: LANGUAGE <LL@li.org>\n"
"Language: \n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=CHARSET\n"
"Content-Transfer-Encoding: 8bit\n"

#: plugins/RemoteControl/webroot/js/api/actions.js:60
msgid "Could not retrieve action list"
msgstr ""

#: plugins/RemoteControl/webroot/js/api/actions.js:88
msgid "Action '%1' not accepted by server: "
msgstr ""

#: plugins/RemoteControl/webroot/js/api/actions.js:95
msgid "Error sending action '%1' to server: "
msgstr ""

#: plugins/RemoteControl/webroot/js/api/location.js:33
#: plugins/RemoteControl/webroot/js/api/location.js:61
#: plugins/RemoteControl/webroot/js/api/search.js:188
msgid "Error performing search"
msgstr ""

#: plugins/RemoteControl/webroot/js/api/location.js:125
msgid "Could not retrieve country list"
msgstr ""

#: plugins/RemoteControl/webroot/js/api/location.js:138
msgid "Could not retrieve planet list"
msgstr ""

#: plugins/RemoteControl/webroot/js/api/properties.js:28
msgid "Could not retrieve property list"
msgstr ""

#: plugins/RemoteControl/webroot/js/api/properties.js:89
#: plugins/RemoteControl/webroot/js/api/properties.js:110
msgid "Property '%1' not accepted by server: "
msgstr ""

#: plugins/RemoteControl/webroot/js/api/properties.js:96
msgid "Error sending property '%1' to server: "
msgstr ""

#: plugins/RemoteControl/webroot/js/api/remotecontrol.js:197
msgid "Error sending command to server: "
msgstr ""

#: plugins/RemoteControl/webroot/js/api/scripts.js:27
msgid "Could not retrieve script list"
msgstr ""

#: plugins/RemoteControl/webroot/js/api/search.js:35
msgid "querying"
msgstr ""

#: plugins/RemoteControl/webroot/js/api/search.js:44
msgid "Error (%1)"
msgstr ""

#: plugins/RemoteControl/webroot/js/api/search.js:60
msgid "Error performing Simbad lookup"
msgstr ""

#: plugins/RemoteControl/webroot/js/api/search.js:79
msgid "idle"
msgstr ""

#: plugins/RemoteControl/webroot/js/api/search.js:105
msgid "Error loading object types"
msgstr ""

#: plugins/RemoteControl/webroot/js/api/search.js:138
msgid "Error getting object list"
msgstr ""

#: plugins/RemoteControl/webroot/js/api/search.js:200
msgid "waiting"
msgstr ""

#: plugins/RemoteControl/webroot/js/api/viewoptions.js:38
msgid "Could not retrieve projection list"
msgstr ""

#: plugins/RemoteControl/webroot/js/api/viewoptions.js:51
#: plugins/RemoteControl/webroot/js/api/viewoptions.js:64
msgid "Could not retrieve landscape list"
msgstr ""

#: plugins/RemoteControl/webroot/js/plugins/scenery3d.js:22
#: plugins/RemoteControl/webroot/js/ui/scripts.js:76
msgid "-none-"
msgstr ""

#: plugins/RemoteControl/webroot/js/plugins/scenery3d.js:28
msgid "(Currently loading: %1)"
msgstr ""

#: plugins/RemoteControl/webroot/js/plugins/scenery3d.js:71
msgid "Could not retrieve Scenery3d list"
msgstr ""

#: plugins/RemoteControl/webroot/js/ui/actions.js:44
#: plugins/RemoteControl/webroot/js/ui/actions.js:77
msgid "on"
msgstr ""

#: plugins/RemoteControl/webroot/js/ui/actions.js:44
#: plugins/RemoteControl/webroot/js/ui/actions.js:77
msgid "off"
msgstr ""

#: plugins/RemoteControl/webroot/js/ui/combobox.js:58
msgid "Show All Items"
msgstr ""

#: plugins/RemoteControl/webroot/js/ui/combobox.js:124
msgid "Input did not match any item"
msgstr ""

#: plugins/RemoteControl/webroot/js/ui/search.js:285
msgid "No current selection"
msgstr ""
