[po4a_paths] po/skycultures.pot
[type: xhtml] anutan/description.en.utf8
[type: xhtml] arabic/description.en.utf8
[type: xhtml] arabic_moon_stations/description.en.utf8
[type: xhtml] armintxe/description.en.utf8
[type: xhtml] aztec/description.en.utf8
[type: xhtml] belarusian/description.en.utf8
[type: xhtml] boorong/description.en.utf8
[type: xhtml] chinese/description.en.utf8
[type: xhtml] chinese_contemporary/description.en.utf8
[type: xhtml] chinese_medieval/description.en.utf8
[type: xhtml] dakota/description.en.utf8
[type: xhtml] egyptian/description.en.utf8
[type: xhtml] hawaiian_starlines/description.en.utf8
[type: xhtml] indian/description.en.utf8
[type: xhtml] inuit/description.en.utf8
[type: xhtml] japanese_moon_stations/description.en.utf8
[type: xhtml] kamilaroi/description.en.utf8
[type: xhtml] korean/description.en.utf8
[type: xhtml] lokono/description.en.utf8
[type: xhtml] macedonian/description.en.utf8
[type: xhtml] maori/description.en.utf8
[type: xhtml] maya/description.en.utf8
[type: xhtml] mongolian/description.en.utf8
[type: xhtml] mulapin/description.en.utf8
[type: xhtml] navajo/description.en.utf8
[type: xhtml] norse/description.en.utf8
[type: xhtml] northern_andes/description.en.utf8
[type: xhtml] ojibwe/description.en.utf8
[type: xhtml] romanian/description.en.utf8
[type: xhtml] sami/description.en.utf8
[type: xhtml] sardinian/description.en.utf8
[type: xhtml] seleucid/description.en.utf8
[type: xhtml] siberian/description.en.utf8
[type: xhtml] tongan/description.en.utf8
[type: xhtml] tukano/description.en.utf8
[type: xhtml] tupi/description.en.utf8
[type: xhtml] vanuatu_netwar/description.en.utf8
[type: xhtml] western/description.en.utf8
[type: xhtml] western_SnT/description.en.utf8
[type: xhtml] western_hlad/description.en.utf8
[type: xhtml] western_rey/description.en.utf8
