---
BasedOnStyle: LLVM
IndentWidth: 8
TabWidth: 8
UseTab: Always
AlignConsecutiveAssignments: false
AlignTrailingComments: false
AllowShortFunctionsOnASingleLine: None
BreakBeforeBraces: Allman
BraceWrapping:
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: true
  IndentBraces: false
IndentCaseLabels: true
AccessModifierOffset: -8
IndentPPDirectives: None
IndentAccessModifiers: false
IndentWrappedFunctionNames: true
ColumnLimit: 120
PointerAlignment: Right
SpacesInParentheses: false
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
SpaceBeforeSquareBrackets: false
SpacesInAngles: false
SpacesInContainerLiterals: false
SpacesInCStyleCastParentheses: false
SpacesBeforeTrailingComments: 2
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: false
SortIncludes: false
NamespaceIndentation: None
BreakConstructorInitializers: BeforeComma
ConstructorInitializerIndentWidth: 8
SpacesInSquareBrackets: false
SpaceAfterCStyleCast: false
DerivePointerAlignment: false
BinPackParameters: false  # Each parameter is placed on its own line.
BinPackArguments: false   # Each argument is placed on its own line.