builds
build
installers
.DS_Store
CMakeLists.txt.user
Stellarium.bat
stellarium.iss
README
./doc/qt.tag
./locale
./util/locations-editor/Makefile
./util/locations-editor/locations-editor
./util/locations-editor/locations-editor.pro.user
./util/copy-translations.bat
./plugins/Observability/doc
data/default_config.ini
data/Info.plist
guide/*.aux
guide/*.log
guide/*.bbl
guide/*.blg
guide/*.ilg
guide/*.idx
guide/*.toc
guide/*.ind
guide/*.ptc
guide/*.bcf
guide/*.xml
guide/*.synctex.gz
guide/version.tex
guide/guide.pdf
* - Kopie.*
*.~
*.lnk
# Ignore intellij project files
*.iml
