__
builds
build
installers
.DS_Store
CMakeLists.txt.user*
CMakeFiles
CMakeCache*
CPackConfig.cmake
CPackSourceConfig.cmake
cmake_install.cmake
cmake_uninstall.cmake
/translations
/CMakeDoxyfile.in
/CMakeDoxygenDefaults.cmake
/Doxyfile
Stellarium.bat
stellarium.iss
README
doc/qt.tag
doc/stellarium.pod
doc/stellarium.1
locale
util/locations-editor/Makefile
util/locations-editor/locations-editor
util/locations-editor/locations-editor.pro.user
util/copy-translations.bat
plugins/Observability/doc
data/default_config.ini
data/default_cfg.ini
data/Info.plist
src/external/config.h
src/external/indiversion.h
src/stellarium
Makefile
!guide/Makefile
guide/*.aux
guide/*.log
guide/*.bbl
guide/*.blg
guide/*.ilg
guide/*.idx
guide/*.toc
guide/*.ind
guide/*.ptc
guide/*.bcf
guide/*.xml
guide/*.xref
guide/*.dvi
guide/*.4tc
guide/*.tmp
guide/*.synctex.gz
guide/version.tex
guide/guide.pdf
guide/SUG.pdf
guide/pictures/*.xbb
guide/pictures/GZ_*.png
guide/pictures/gz_*.png
guide/pictures/P_BSC*.png
guide/html/*
ui_*.h
qrc_*.cpp
*_autogen
* - Kopie.*
*.a
*.~
*~
*.lnk
# Ignore intellij project files
*.iml
