env:
  global:
   - secure: "nDBuoowqSmcjCOsK4uXfkRRGuvcLt434lXeZIND/bfOEDgOv7h62w5h4i3ebSgItWkBStLzGB8Owfb2v/S0jC+wSIoP+SD2wRg12LA0/eeb3OBYw/TR5FlCVx21/GzvODTNi8NdWb92AcYGhbLNPqMDIFHGscARjHiP2EnONhTs="

language: cpp

git:
  depth: 10
  quiet: true

matrix:
  include:
    - os: linux
      arch: amd64
      dist: xenial
      addons:
        apt:
          packages:
            - gcc-4.8
            - g++-4.8
            - libgps-dev
            - libpulse-dev
            - libgl1-mesa-dev
            - xvfb
          update: true
        coverity_scan:
          project:
            name: "Stellarium/stellarium"
            description: "A realistic, real-time 3D simulation of the night sky."
          build_command_prepend: cov-configure --comptype gcc --compiler gcc-4.8 --template && cmake -DENABLE_TESTING=1 ..
          build_command: make -j5
          branch_pattern: coverity_scan
          notification_email: stellarium@googlegroups.com
      env:
         - MATRIX_EVAL="CC=gcc-4.8 && CXX=g++-4.8"
         - TRANSLATE=true
         - COVERAGE=false
         - REPQT=false

    - os: linux
      arch: amd64
      dist: focal
      addons:
        apt:
          packages:
            - qt5-default
            - qt5-qmake
            - qtbase5-dev
            - qtbase5-dev-tools
            - qttools5-dev
            - qttools5-dev-tools
            - qtscript5-dev
            - libqt5svg5-dev
            - libqt5opengl5-dev
            - qtmultimedia5-dev
            - libqt5multimedia5-plugins
            - libqt5serialport5
            - libqt5serialport5-dev
            - qtpositioning5-dev
            - libqt5positioning5
            - libqt5positioning5-plugins
            - libgps-dev
            - zlib1g-dev
            - libgl1-mesa-dev
            - xvfb
            - lcov
          update: true
      env:
        - MATRIX_EVAL="CC=gcc && CXX=g++"
        - TRANSLATE=false
        - COVERAGE=false
        - REPQT=true

    - os: linux
      arch: amd64
      dist: focal
      addons:
        apt:
          packages:
            - qt5-default
            - qt5-qmake
            - qtbase5-dev
            - qtbase5-dev-tools
            - qttools5-dev
            - qttools5-dev-tools
            - qtscript5-dev
            - libqt5svg5-dev
            - libqt5opengl5-dev
            - qtmultimedia5-dev
            - libqt5multimedia5-plugins
            - libqt5serialport5
            - libqt5serialport5-dev
            - qtpositioning5-dev
            - libqt5positioning5
            - libqt5positioning5-plugins
            - libgps-dev
            - zlib1g-dev
            - libgl1-mesa-dev
            - xvfb
          update: true
      env:
        - MATRIX_EVAL="CC=clang && CXX=clang++"
        - TRANSLATE=false
        - COVERAGE=false
        - REPQT=true

    - os: linux
      arch: amd64
      dist: bionic
      addons:
        apt:
          packages:
            - qt5-default
            - qt5-qmake
            - qtbase5-dev
            - qtbase5-dev-tools
            - qttools5-dev
            - qttools5-dev-tools
            - qtscript5-dev
            - libqt5svg5-dev
            - libqt5opengl5-dev
            - qtmultimedia5-dev
            - libqt5multimedia5-plugins
            - libqt5serialport5
            - libqt5serialport5-dev
            - qtpositioning5-dev
            - libqt5positioning5
            - libqt5positioning5-plugins
            - libgps-dev
            - zlib1g-dev
            - libgl1-mesa-dev
            - xvfb
            - lcov
          update: true
      env:
        - MATRIX_EVAL="CC=gcc && CXX=g++"
        - TRANSLATE=false
        - COVERAGE=true
        - REPQT=true

    - os: linux
      arch: amd64
      dist: bionic
      addons:
        apt:
          packages:
            - qt5-default
            - qt5-qmake
            - qtbase5-dev
            - qtbase5-dev-tools
            - qttools5-dev
            - qttools5-dev-tools
            - qtscript5-dev
            - libqt5svg5-dev
            - libqt5opengl5-dev
            - qtmultimedia5-dev
            - libqt5multimedia5-plugins
            - libqt5serialport5
            - libqt5serialport5-dev
            - qtpositioning5-dev
            - libqt5positioning5
            - libqt5positioning5-plugins
            - libgps-dev
            - zlib1g-dev
            - libgl1-mesa-dev
            - xvfb
          update: true
      env:
        - MATRIX_EVAL="CC=clang && CXX=clang++"
        - TRANSLATE=false
        - COVERAGE=false
        - REPQT=true

    - os: linux
      arch: arm64
      dist: bionic
      addons:
        apt:
          packages:
            - qt5-default
            - qt5-qmake
            - qtbase5-dev
            - qtbase5-dev-tools
            - qttools5-dev
            - qttools5-dev-tools
            - qtscript5-dev
            - libqt5svg5-dev
            - libqt5opengl5-dev
            - qtmultimedia5-dev
            - libqt5multimedia5-plugins
            - libqt5serialport5
            - libqt5serialport5-dev
            - qtpositioning5-dev
            - libqt5positioning5
            - libqt5positioning5-plugins
            - libgps-dev
            - zlib1g-dev
            - libgl1-mesa-dev
            - xvfb
          update: true
      env:
        - MATRIX_EVAL="CC=gcc && CXX=g++"
        - TRANSLATE=false
        - COVERAGE=false
        - REPQT=true

    - os: linux
      arch: arm64
      dist: bionic
      addons:
        apt:
          packages:
            - qt5-default
            - qt5-qmake
            - qtbase5-dev
            - qtbase5-dev-tools
            - qttools5-dev
            - qttools5-dev-tools
            - qtscript5-dev
            - libqt5svg5-dev
            - libqt5opengl5-dev
            - qtmultimedia5-dev
            - libqt5multimedia5-plugins
            - libqt5serialport5
            - libqt5serialport5-dev
            - qtpositioning5-dev
            - libqt5positioning5
            - libqt5positioning5-plugins
            - libgps-dev
            - zlib1g-dev
            - libgl1-mesa-dev
            - xvfb
          update: true
      env:
        - MATRIX_EVAL="CC=clang && CXX=clang++"
        - TRANSLATE=false
        - COVERAGE=false
        - REPQT=true

    - os: linux
      arch: ppc64le
      dist: bionic
      addons:
        apt:
          packages:
            - qt5-default
            - qt5-qmake
            - qtbase5-dev
            - qtbase5-dev-tools
            - qttools5-dev
            - qttools5-dev-tools
            - qtscript5-dev
            - libqt5svg5-dev
            - libqt5opengl5-dev
            - qtmultimedia5-dev
            - libqt5multimedia5-plugins
            - libqt5serialport5
            - libqt5serialport5-dev
            - qtpositioning5-dev
            - libqt5positioning5
            - libqt5positioning5-plugins
            - libgps-dev
            - zlib1g-dev
            - libgl1-mesa-dev
            - xvfb
          update: true
      env:
        - MATRIX_EVAL="CC=gcc && CXX=g++"
        - TRANSLATE=false
        - COVERAGE=false
        - REPQT=true

    - os: linux
      arch: ppc64le
      dist: bionic
      addons:
        apt:
          packages:
            - qt5-default
            - qt5-qmake
            - qtbase5-dev
            - qtbase5-dev-tools
            - qttools5-dev
            - qttools5-dev-tools
            - qtscript5-dev
            - libqt5svg5-dev
            - libqt5opengl5-dev
            - qtmultimedia5-dev
            - libqt5multimedia5-plugins
            - libqt5serialport5
            - libqt5serialport5-dev
            - qtpositioning5-dev
            - libqt5positioning5
            - libqt5positioning5-plugins
            - libgps-dev
            - zlib1g-dev
            - libgl1-mesa-dev
            - xvfb
          update: true
      env:
        - MATRIX_EVAL="CC=clang && CXX=clang++"
        - TRANSLATE=false
        - COVERAGE=false
        - REPQT=true

    - os: linux
      arch: s390x
      dist: bionic
      addons:
        apt:
          packages:
            - qt5-default
            - qt5-qmake
            - qtbase5-dev
            - qtbase5-dev-tools
            - qttools5-dev
            - qttools5-dev-tools
            - qtscript5-dev
            - libqt5svg5-dev
            - libqt5opengl5-dev
            - qtmultimedia5-dev
            - libqt5multimedia5-plugins
            - libqt5serialport5
            - libqt5serialport5-dev
            - qtpositioning5-dev
            - libqt5positioning5
            - libqt5positioning5-plugins
            - libgps-dev
            - zlib1g-dev
            - libgl1-mesa-dev
            - xvfb
          update: true
      env:
        - MATRIX_EVAL="CC=gcc && CXX=g++"
        - TRANSLATE=false
        - COVERAGE=false
        - REPQT=true

    - os: linux
      arch: s390x
      dist: bionic
      addons:
        apt:
          packages:
            - qt5-default
            - qt5-qmake
            - qtbase5-dev
            - qtbase5-dev-tools
            - qttools5-dev
            - qttools5-dev-tools
            - qtscript5-dev
            - libqt5svg5-dev
            - libqt5opengl5-dev
            - qtmultimedia5-dev
            - libqt5multimedia5-plugins
            - libqt5serialport5
            - libqt5serialport5-dev
            - qtpositioning5-dev
            - libqt5positioning5
            - libqt5positioning5-plugins
            - libgps-dev
            - zlib1g-dev
            - libgl1-mesa-dev
            - xvfb
          update: true
      env:
        - MATRIX_EVAL="CC=clang && CXX=clang++"
        - TRANSLATE=false
        - COVERAGE=false
        - REPQT=true

    # macOS 10.13 
    - os: osx
      osx_image: xcode9.4
      addons:
        homebrew:
          packages:
          - qt
          - gpsd
          update: true
      env:
        - MATRIX_EVAL="CC=clang && CXX=clang++"
        - TRANSLATE=false
        - COVERAGE=false

    # macOS 10.14
    - os: osx
      osx_image: xcode10.3
      addons:
        homebrew:
          packages:
          - qt
          - gpsd
          update: true
      env:
        - MATRIX_EVAL="CC=clang && CXX=clang++"
        - TRANSLATE=false
        - COVERAGE=false

    # macOS 10.14
    - os: osx
      osx_image: xcode11.3
      addons:
        homebrew:
          packages:
          - qt
          - gpsd
          update: true
      env:
        - MATRIX_EVAL="CC=clang && CXX=clang++"
        - TRANSLATE=false
        - COVERAGE=false

    # macOS 10.15
    - os: osx
      osx_image: xcode12
      addons:
        homebrew:
          packages:
          - qt
          - gpsd
          update: true
      env:
        - MATRIX_EVAL="CC=clang && CXX=clang++"
        - TRANSLATE=false
        - COVERAGE=false

#    - os: windows
#      env:
#        - MATRIX_EVAL="CC=cl.exe && CXX=cl.exe"
#        - MSVCNAME="Visual Studio 15 2017 Win64"
#        - TRANSLATE=false
#        - COVERAGE=false

before_install:
  - eval "${MATRIX_EVAL}"
  # Linux
  - if [[ "$TRAVIS_OS_NAME" == "linux" && "$REPQT" == false ]]; then
      mkdir qt5;
      wget -q -O qt5.zip https://github.com/Stellarium/stellarium-data/releases/download/qt-5.9/qt5.zip;
      unzip -qq qt5.zip -d qt5;
      export PATH=`pwd`/qt5/bin:$PATH;
      export QT_PLUGIN_PATH=`pwd`/qt5/plugins;
      export PYTHONWARNINGS="ignore:A true SSLContext object is not available,ignore:An HTTPS request has been made";
    fi
  # Mac OS X
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
      export PATH="/usr/local/opt/qt/bin:$PATH";
      export CPATH="/usr/local/include:$CPATH";
    fi
  # Windows
  - if [[ "$TRAVIS_OS_NAME" == "windows" ]]; then
      mkdir /c/qt5;
      cd /c/qt5;
      wget -O qt5.zip http://dss.stellarium.org/qt/qt512x64w.zip;
      unzip -qq qt5.zip -d /c/qt5;
      export PATH=/c/qt5/bin:$PATH;
      export QT_PLUGIN_PATH=/c/qt5/plugins;
      echo $PATH;
      cd;
      cd build/Stellarium/stellarium;
      dir;
    fi
  # ... + Coverage
  - if [[ "$COVERAGE" == true ]]; then
      pip install --user cpp-coveralls;
      gem install coveralls-lcov;
    fi

install:

before_script:
  - export DISPLAY=:99.0
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then ( Xvfb :99 -ac -screen 0 1024x768x8; echo ok )& fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then ( sudo Xvfb :99 -ac -screen 0 1024x768x8; echo ok )& fi
  - sleep 3 # give xvfb some time to start
  - mkdir builds
  - cd builds

script:
  - if [[ "$TRAVIS_OS_NAME" == "linux" || "$TRAVIS_OS_NAME" == "osx" ]]; then
      cmake -DENABLE_TESTING=1 -DCMAKE_BUILD_TYPE=Debug .. ;
      make -j5 ;
      ctest --output-on-failure ;
    fi
  - if [[ "$TRAVIS_OS_NAME" == "windows" ]]; then
      cmake -DENABLE_TESTING=0 -G "$MSVCNAME" .. ;
      cmake --build . --target ALL_BUILD --config RelWithDebInfo --parallel ;
    fi
  #- ctest --output-on-failure
  - if [[ "$COVERAGE" == true ]]; then
      make coverage;
    fi

after_success:
  - if [[ "$TRANSLATE" == true && "$TRAVIS_BRANCH" == "master" && "$TRAVIS_PULL_REQUEST" == false && "$TRAVIS_REPO_SLUG" == "Stellarium/stellarium" ]]; then
      pip install --user urllib3==1.23 transifex-client;
      sudo echo $'[https://www.transifex.com]\nhostname = https://www.transifex.com\nusername = '"$TRANSIFEX_USER"$'\npassword = '"$TRANSIFEX_PASSWORD"$'\ntoken = '"$TRANSIFEX_API_TOKEN"$'\n' > ~/.transifexrc;
      tx push -s;
    fi
  - if [[ "$COVERAGE" == true ]]; then
      lcov --gcov-tool "/usr/bin/gcov-7" --remove coverage.info '*_autogen/*' '*/ui_*.h' '*/qrc_*.cpp' '*/qt5/*' '/usr/*' '*gmock*' --output-file coverage.info;
      coveralls-lcov coverage.info;
    fi

notifications:
  email:
    recipients:
      - alex.v.wolf@gmail.com
    on_success: change
    on_failure: always
  irc:
    channels:
      - "irc.freenode.net#stellarium"
    template:
      - "Stellarium/master #%{build_number} (%{author}): %{message}"
      - "Change view : %{compare_url}"
      - "Build details : %{build_url}"
