[po4a_paths] ../../po/stellarium-landscapes-descriptions/stellarium-landscapes-descriptions.pot
[type: xhtml] ../../landscapes/garching/description.en.utf8
[type: xhtml] ../../landscapes/geneva/description.en.utf8
[type: xhtml] ../../landscapes/grossmugl/description.en.utf8
[type: xhtml] ../../landscapes/guereins/description.en.utf8
[type: xhtml] ../../landscapes/hurricane/description.en.utf8
[type: xhtml] ../../landscapes/jupiter/description.en.utf8
[type: xhtml] ../../landscapes/mars/description.en.utf8
[type: xhtml] ../../landscapes/moon/description.en.utf8
[type: xhtml] ../../landscapes/neptune/description.en.utf8
[type: xhtml] ../../landscapes/ocean/description.en.utf8
[type: xhtml] ../../landscapes/saturn/description.en.utf8
[type: xhtml] ../../landscapes/sun/description.en.utf8
[type: xhtml] ../../landscapes/trees/description.en.utf8
[type: xhtml] ../../landscapes/uranus/description.en.utf8
[type: xhtml] ../../landscapes/zero/description.en.utf8
