[Desktop Entry]
Encoding=UTF-8
Version=0.11.3-1
Type=Application
Name=Stellarium
Exec=env LD_LIBRARY_PATH=/opt/qt4-maemo5/lib /opt/stellarium/bin/stellarium
Icon=stellarium
X-Icon-path=/usr/share/icons/
X-Window-Icon=stellarium
