[Desktop Entry]
Encoding=UTF-8
Version=0.11.3-1
Type=Application
Name=Stellarium
Name[af]=Stellarium
Name[ar]=ستيللاريوم
Name[ast]=Stellarium
Name[az]=Stellarium
Name[be]=Stellarium
Name[bg]=Stellarium
Name[bn]=স্টেলারিয়াম
Name[br]=Stellarium
Name[bs]=Stellarium
Name[ca]=Stellarium
Name[ca@valencia]=Stellarium
Name[cs]=Stellarium
Name[cv]=Stellarium
Name[da]=Stellarium
Name[de]=Stellarium
Name[el]=Stellarium
Name[en_CA]=Stellarium
Name[en_GB]=Stellarium
Name[eo]=Stellarium
Name[es]=Stellarium
Name[et]=Stellarium
Name[eu]=Stellarium
Name[fa]=ستاره شناسی
Name[fi]=Stellarium
Name[fr]=Stellarium
Name[ga]=Stellarium
Name[gd]=Stellarium
Name[gl]=Stellarium
Name[gu]=Stellarium
Name[he]=Stellarium
Name[hi]=स्टेलेरियम
Name[hr]=Stellarium
Name[hu]=Stellarium
Name[hy]=Stellarium
Name[id]=Stellarium
Name[is]=Stellarium
Name[it]=Stellarium
Name[ja]=ステラリウム
Name[jv]=Stéllarium
Name[ka]=Stellarium
Name[kk]=Stellarium
Name[kn]=ಸ್ಟೆಲ್ಲೇರಿಯಂ
Name[ko]=스텔라리움
Name[ky]=Stellarium
Name[la]=Stellarium
Name[lb]=Stellarium
Name[lt]=Stellarium planetariumas
Name[lv]=Stellarium
Name[mk]=Stellarium
Name[ml]=Stellarium
Name[mn]=Stellarium
Name[mr]=स्टेलारीअम
Name[ms]=Stellarium
Name[nb]=Stellarium
Name[nds]=Stellarium
Name[ne]=Stellarium
Name[nl]=Stellarium
Name[nn]=Stellarium
Name[pa]=Stellarium
Name[pl]=Stellarium
Name[pt]=Stellarium
Name[pt_BR]=Stellarium
Name[ro]=Stellarium
Name[ru]=Stellarium
Name[sc]=Stellarium
Name[si]=Stellarium
Name[sk]=Stellarium
Name[sl]=Stellarium
Name[sq]=Stellarium
Name[sr]=Стеларијум
Name[sv]=Stellarium
Name[ta]=ஸ்டெல்லாரியம்
Name[te]=స్టెల్లేరియమ్
Name[tg]=Stellarium
Name[th]=Stellarium
Name[tl]=Stellarium
Name[tr]=Stellarium
Name[tzm]=Stellarium
Name[ug]=Stellarium
Name[uk]=Stellarium
Name[vi]=Stellarium
Name[zh]=Stellarium
Name[zh_CN]=Stellarium
Name[zh_HK]=Stellarium
Name[zh_TW]=Stellarium
Exec=env LD_LIBRARY_PATH=/opt/qt4-maemo5/lib /opt/stellarium/bin/stellarium
Icon=stellarium
X-Icon-path=/usr/share/icons/
X-Window-Icon=stellarium
