#
# Nomenclature for _PLANET_NAME_
#
# Nomenclature data was obtained from the web page https://planetarynames.wr.usgs.gov/Page/_PLANET_TARGET_/target
#
# One rule per line. Each rule contains six elements with white space (or "tab char") as delimiter.
# Format:
#	ID of surface feature			: unique integer (equals to Feature ID obtained from https://planetarynames.wr.usgs.gov)
#	translatable name of surface feature	: string
#	type of surface feature			: string (2-char code; details: https://planetarynames.wr.usgs.gov/DescriptorTerms)
#	latitude of surface feature		: float (decimal degrees)
#	longitude of surface feature		: float (decimal degrees)
#	size of surface feature			: float (kilometers)
#