#
# Nomenclature for Solar system bodies
#
# Nomenclature data was obtained from the web page https://planetarynames.wr.usgs.gov
#
# One rule per line. Each rule contains seven elements with white space (or "tab char") as delimiter.
# Format:
#	planet name				 : string
#	ID of planetary feature			 : unique integer (equals to Feature ID obtained from https://planetarynames.wr.usgs.gov)
#	translatable name of planetary feature	 : string
#	type of planetary feature		 : string (2-char code; details: https://planetarynames.wr.usgs.gov/DescriptorTerms)
#	latitude of center of planetary feature	 : float (decimal degrees)
#	longitude of center of planetary feature : float (decimal degrees)
#	size of planetary feature		 : float (kilometers)
#