AngleSpinBox {
	padding-right: 20px; /* make room for the arrows */
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 rgb(48, 0, 0, 90%), stop: 1 rgba(33, 0, 0, 90%));
	border: 1px solid rgb(0, 0, 0);
	background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 rgba(140, 0, 0, 90%), stop: 1 rgba(74, 0, 0, 90%));
	color : rgb(22, 0, 0);
	padding: 0px;
	border-radius: 0px;
	selection-background-color: rgb(160, 0, 0);
}

AngleSpinBox::up-button {
	subcontrol-origin: border;
	subcontrol-position: top right; /* position at the top right corner */
	width: 20px; /* 16 + 2*1px border-width = 15px padding + 3px parent border */
	border: solid 1px;	
	border-right-color: rgb(0, 0, 0);
	border-top-color: rgb(0, 0, 0);
	image: url(:/graphicGui/gui/nv_spinup.png);
	border-width: 1px;
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 rgba(66, 0, 0, 90%), stop: 1 rgba(54, 0, 0, 90%));
}

AngleSpinBox::down-button {
	subcontrol-origin: border;
	subcontrol-position: bottom right; /* position at the bottom right corner */
	width: 20px; /* 16 + 2*1px border-width = 15px padding + 3px parent border */
	border: solid 1px;	
	border-right-color: rgb(0, 0, 0);
	border-bottom-color: rgb(0, 0, 0);
	image: url(:/graphicGui/gui/nv_spindown.png);
	border-width: 1px;
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 rgba(48, 0, 0, 90%), stop: 1 rgba(33, 0, 0, 90%));
}

QTimeEdit {
	padding-right: 20px; /* make room for the arrows */
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 rgb(48, 0, 0, 90%), stop: 1 rgba(33, 0, 0, 90%));
	border: 1px solid rgb(0, 0, 0);
	background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 rgba(140, 0, 0, 90%), stop: 1 rgba(74, 0, 0, 90%));
	color: rgb(22, 0, 0);
	padding: 0px;
	border-radius: 0px;
	selection-background-color: rgb(160, 0, 0);
}

QTimeEdit::up-button {
	subcontrol-origin: border;
	subcontrol-position: top right; /* position at the top right corner */
	width: 20px; /* 16 + 2*1px border-width = 15px padding + 3px parent border */
	border: solid 1px;	
	border-right-color: rgb(0, 0, 0);
	border-top-color: rgb(0, 0, 0);
	image: url(:/graphicGui/gui/nv_spinup.png);
	border-width: 1px;
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 rgba(66, 0, 0, 90%), stop: 1 rgba(54, 0, 0, 90%));
}

QTimeEdit::down-button {
	subcontrol-origin: border;
	subcontrol-position: bottom right; /* position at the bottom right corner */
	width: 20px; /* 16 + 2*1px border-width = 15px padding + 3px parent border */
	border: solid 1px;	
	border-right-color: rgb(0, 0, 0);
	border-bottom-color: rgb(0, 0, 0);
	image: url(:/graphicGui/gui/nv_spindown.png);
	border-width: 1px;
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 rgba(48, 0, 0, 90%), stop: 1 rgba(33, 0, 0, 90%));
}

QDateTimeEdit {
	border: 1px solid rgb(0, 0, 0);
	background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 rgba(140, 0, 0, 90%), stop: 1 rgba(74, 0, 0, 90%));
	border-radius: 0px;
	selection-background-color: rgb(160, 0, 0);
}

QDateTimeEdit::drop-down {
	width: 20px;
	border-top: 1px;
	border-left-color: rgb(0, 0, 0);
	border-left-style: solid;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

QDateTimeEdit::down-arrow {
	width: 20px; /* 16 + 2*1px border-width = 15px padding + 3px parent border */
	height: 20px;
	border:solid 1px;	
	border-right-color: rgb(0, 0, 0);
	border-bottom-color: rgb(0, 0, 0);
	image: url(:/graphicGui/gui/nv_spindown.png);
	border-width: 1px;
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 rgba(48, 0, 0, 90%), stop: 1 rgba(33, 0, 0, 90%));
}

/**********************************/

QDialog {
	background: rgba(48, 49, 52, 0%);
}

QDialog:active {
	background: rgba(48, 49, 52, 0%);
}

QFrame {
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 rgba(61, 0, 0, 40%), stop: 1 rgba(35, 0, 0, 40%));
	border: 0px;
	color: rgb(156, 0, 0);
	font-family: "DejaVu";
}

QFrame:active {
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 rgba(61, 0, 0, 90%), stop: 1 rgba(35, 0, 0, 90%));
}

DialogFrame {
	border-width: 1px;
	border-style: solid;
	border-color: rgb(17, 0, 0);
}

ResizeFrame {
	background-image: url(:/graphicGui/gui/nv_resize.png);
}

QLabel, QLabel:active {
	color: rgb(101, 0, 0);
	background: transparent;
}

QLabel#stelWindowTitle, QLabel:active#stelWindowTitle {
	color: rgb(156, 0, 0);
	font: bold;
	background: transparent;
}

QToolTip {
	color: rgb(100, 0, 0);
	background: rgb(35, 0, 0);
}

QLineEdit {
	border: 1px solid rgb(0, 0, 0);
	border-radius: 8px;
	padding: 0 8px;
	background: rgba(24, 0, 0, 40%);
	selection-background-color: rgb(90, 0, 0);
	color: rgb(120, 0, 0);
}

QPushButton {
	border: 1px solid rgb(0, 0, 0);
	border-radius: 4px;
	padding: 2px 8px;
	color: rgb(22, 0, 0);
	background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 rgba(129, 0, 0, 90%), stop: 1 rgba(79, 0, 0, 90%));
}

QPushButton:active {
	background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 rgba(129, 0, 0, 90%), stop: 1 rgba(79, 0, 0, 90%));
}

QPushButton:pressed {
	background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 rgb(65, 0, 0), stop: 1 rgb(115, 0, 0));
}

QPushButton#closeStelWindow {
	border: 0px;
	background-color: transparent;
	background-image: url(:/graphicGui/gui/closeButton.png);
}

QPushButton:hover#closeStelWindow {
	background-image: url(:/graphicGui/gui/closeButton-hover.png);
}

/****** QScrollBar:vertical *******/
QScrollBar:vertical {
	border: 1px solid rgb(82, 0, 0);
	background: rgb(65, 0, 0);
	width: 13px;
	margin: 22px 0px 22px 0px;
}

QScrollBar::handle:vertical {
	border: 0px;
	background: qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0 rgb(126, 0, 0), stop:1 rgb(101, 0, 0));
	border-radius: 4px;
	min-height: 20px;
}

QScrollBar::add-line:vertical {
	border: 1px solid rgb(65, 0, 0);
	height: 20px;
	subcontrol-position: bottom;
	subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical {
	border: 1px solid rgb(65, 0, 0);
	height: 20px;
	subcontrol-position: top;
	subcontrol-origin: margin;
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
	background: qlineargradient(x1:0, y1:0, x2:1, y2:0, stop:0 rgb(57, 0, 0), stop:1 rgb(82, 0, 0));
}

QScrollBar::up-arrow {
	subcontrol-origin: padding;
	subcontrol-position: top; /* position at the top right corner */
	width: 13px;
	height: 20px;
	image: url(:/graphicGui/gui/nv_spinup.png);
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 rgba(69, 0, 0, 90%), stop: 1 rgba(49, 0, 0, 90%));
}

QScrollBar::down-arrow {
	subcontrol-origin: padding;
	subcontrol-position: bottom; /* position at the bottom right corner */
	width: 13px;
	height: 20px;
	image: url(:/graphicGui/gui/nv_spindown.png);
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 rgb(69, 0, 0, 90%), stop: 1 rgba(49, 0, 0, 90%));
}

/****** QScrollBar:horizontal *******/
QScrollBar:horizontal {
	border: 1px solid rgb(82, 0, 0);
	background: rgb(65, 0, 0);
	height: 13px;
	margin: 0px 22px 0px 22px;
}

QScrollBar::handle:horizontal {
	border: 0px;
	background: qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0 rgb(126, 0, 0), stop:1 rgb(101, 0, 0));
	border-radius: 4px;
	min-width: 20px;
}

QScrollBar::add-line:horizontal {
	border: 1px solid rgb(65, 0, 0);
	width: 20px;
	subcontrol-position: left;
	subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal {
	border: 1px solid rgb(65, 0, 0);
	width: 20px;
	subcontrol-position: right;
	subcontrol-origin: margin;
}

QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
	background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(57, 0, 0), stop:1 rgb(82, 0, 0));
}

QScrollBar::right-arrow {
	subcontrol-origin: padding;
	subcontrol-position: left; /* position at the top right corner */
	height: 13px;
	width: 20px;
	image: url(:/graphicGui/gui/nv_spinleft.png);
	background: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 0, stop: 0 rgba(69, 0, 0, 90%), stop: 1 rgba(49, 0, 0, 90%));
}

QScrollBar::left-arrow {
	subcontrol-origin: padding;
	subcontrol-position: right; /* position at the bottom right corner */
	height: 13px;
	width: 20px;
	image: url(:/graphicGui/gui/nv_spinright.png);
	background: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 0, stop: 0 rgba(69, 0, 0, 90%), stop: 1 rgba(49, 0, 0, 90%));
}

/****** QSlider:horizontal *******/
QSlider::groove:horizontal {
	border: 1px solid rgb(82, 0, 0);
	height: 8px; /* the groove expands to the size of the slider by default. by giving it a height, it has a fixed size */
	background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(57, 0, 0), stop:1 rgb(82, 0, 0));
	margin: 2px 0;
}

QSlider::handle:horizontal {
	background: qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0 rgb(126, 0, 0), stop:1 rgb(101, 0, 0));
	border: 1px solid rgb(65, 0, 0);
	width: 18px;
	margin: -2px 0; /* handle is placed by default on the contents rect of the groove. Expand outside the groove */
	border-radius: 3px;
}

QGroupBox {
	border: 1px solid rgba(28, 0, 0, 50%);
	border-radius: 4px;
	margin-top: 1ex;
	font-weight: bold;
	background: solid rgba(54, 0, 0, 40%);
}

QGroupBox::title {
	subcontrol-origin: margin;
	padding: 0px 3px;
   	color: rgb(120, 0, 0);
	left: 10px
}

QTabWidget::pane {
	margin-top: 2px;
	border-top: 0px solid rgb(92, 0, 0);
}

/* Style the tab using the tab sub-control. Note that */
QTabBar::tab {
	font: bold;
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 rgba(61, 0, 0, 40%), stop: 1 rgba(35, 0, 0, 40%));
	border: 1px solid rgba(75, 0, 0, 40%);
	border-bottom: 0px; /* same as the pane color */
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	min-width: 12ex;
	padding: 3px;
	padding-top: 5px;
	color: rgb(120, 0, 0);
}

QTabBar::tab:active {
	border: 1px solid rgba(75, 0, 0, 90%);
}

QTabBar::tab:selected:active, QTabBar::tab:hover {
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 rgba(68, 0, 0, 90%), stop: 1 rgba(61, 0, 0, 90%));
}

QTabBar::tab:selected {
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 rgba(68, 0, 0, 40%), stop: 1 rgba(61, 0, 0, 40%));
}

QTabBar::tab:selected {
	border-color: rgb(92, 0, 0);
	border-bottom: 0px; /* same as pane color */
	color: rgb(156, 0, 0);
}

QTabBar::tab:!selected {
	margin-top: 4px; /* make non-selected tabs look smaller */
}

/* make use of negative margins for overlapping tabs */
QTabBar::tab:selected {
	/* expand/overlap to the left and right by 4px */
	margin-left: -8px;
	margin-right: -8px;
}

QTabBar::tab:first:selected {
	margin-left: 0; /* the first selected tab has nothing to overlap with on the left */
}

QTabBar::tab:last:selected {
	margin-right: 0; /* the last selected tab has nothing to overlap with on the right */
}

QTabBar::tab:only-one {
	margin: 0; /* if there is only one tab, we don't want overlapping margins */
}

QListWidget, QListWidget:active {
	background: solid rgba(32, 0, 0, 70%);
	border: 1px;
	border-radius: 0px;
	border-left-color: rgb(0, 0, 0);
	border-top-color: rgb(0, 0, 0);
	border-right-color: rgb(67, 0, 0);
	border-bottom-color: rgb(67, 0, 0);
	border-style: solid;
	selection-background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 rgba(100, 0, 0, 90%), stop: 1 rgba(148, 0, 0, 90%));
}

QCheckBox { 
	background: transparent;
	color: rgb(101, 0, 0);
}

QCheckBox::indicator {
	width: 16px;
	height: 16px;
	margin: 0px;
	background: transparent;
}

QCheckBox::indicator:checked {
	image: url(:/graphicGui/gui/nv_checkbox-checked.png);
}

QCheckBox::indicator:unchecked {
	image: url(:/graphicGui/gui/nv_checkbox-unchecked.png);
}

QRadioButton {
	background: transparent;
	color: rgb(101, 0, 0);
}

QRadioButton::indicator {
	width: 16px;
	height: 16px;
	margin-left: 4px;
}

QRadioButton::indicator:checked {
	image: url(:/graphicGui/gui/nv_radio-checked.png);
}

QRadioButton::indicator:unchecked {
	image: url(:/graphicGui/gui/nv_radio-unchecked.png);
}

QSpinBox {
	padding-right: 20px; /* make room for the arrows */
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 rgba(48, 0, 0, 90%), stop: 1 rgba(33, 0, 0, 90%));
	border: 1px solid #000;
	background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 rgba(140, 0, 0, 90%), stop: 1 rgba(74, 0, 0, 90%));
	color: rgb(22, 0, 0);
	padding: 0px;
	border-radius: 0px;
	selection-background-color: rgb(160, 0, 0);
}

QSpinBox::up-button {
	subcontrol-origin: border;
	subcontrol-position: top right; /* position at the top right corner */
	width: 20px; /* 16 + 2*1px border-width = 15px padding + 3px parent border */
	border: solid 1px;	
	border-right-color: rgb(0, 0, 0);
	border-top-color: rgb(0, 0, 0);
	image: url(:/graphicGui/gui/nv_spinup.png);
	border-width: 1px;
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 rgba(66, 0, 0, 90%), stop: 1 rgba(54, 0, 0, 90%));
}

QSpinBox::down-button {
	subcontrol-origin: border;
	subcontrol-position: bottom right; /* position at the bottom right corner */
	width: 20px; /* 16 + 2*1px border-width = 15px padding + 3px parent border */
	border: solid 1px;	
	border-right-color: rgb(0, 0, 0);
	border-bottom-color: rgb(0, 0, 0);
	image: url(:/graphicGui/gui/nv_spindown.png);
	border-width: 1px;
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 rgba(48, 0, 0, 90%), stop: 1 rgba(33, 0, 0, 90%));
}

QDoubleSpinBox {
	padding-right: 20px; /* make room for the arrows */
	border: 1px solid #000;
	background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 rgba(140, 0, 0, 90%), stop: 1 rgba(74, 0, 0, 90%));
	color: rgb(22, 0, 0);
	padding: 0px;
	border-radius: 0px;
	selection-background-color: rgb(160, 0, 0);
}

QDoubleSpinBox::up-button {
	subcontrol-origin: border;
	subcontrol-position: top right; /* position at the top right corner */
	width: 20px; /* 16 + 2*1px border-width = 15px padding + 3px parent border */
	border: solid 1px;	
	border-right-color: rgb(0, 0, 0);
	border-top-color: rgb(0, 0, 0);
	image: url(:/graphicGui/gui/nv_spinup.png);
	border-width: 1px;
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 rgba(66, 0, 0, 90%), stop: 1 rgba(54, 0, 0, 90%));
}

QDoubleSpinBox::down-button {
	subcontrol-origin: border;
	subcontrol-position: bottom right; /* position at the bottom right corner */
	width: 20px; /* 16 + 2*1px border-width = 15px padding + 3px parent border */
	border: solid 1px;	
	border-right-color: rgb(0, 0, 0);
	border-bottom-color: rgb(0, 0, 0);
	image: url(:/graphicGui/gui/nv_spindown.png);
	border-width: 1px;
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 rgba(48, 0, 0, 90%), stop: 1 rgba(33, 0, 0, 90%));
}

QComboBox {
	border: 1px solid rgb(0, 0, 0);
	background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 rgba(140, 0, 0, 90%), stop: 1 rgba(74, 0, 0, 90%));
	border-radius: 0px;
	selection-background-color: rgb(160, 0, 0);
}

QComboBox::drop-down {
	width: 20px;
	border-top: 1px;
	border-left-color: rgb(0, 0, 0);
	border-left-style: solid;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

QComboBox::down-arrow {
	width: 20px; /* 16 + 2*1px border-width = 15px padding + 3px parent border */
	height: 20px;
	border: solid 1px;	
	border-right-color: rgb(0, 0, 0);
	border-bottom-color: rgb(0, 0, 0);
	image: url(:/graphicGui/gui/nv_spindown.png);
	border-width: 1px;
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 rgba(48, 0, 0, 90%), stop: 1 rgba(33, 0, 0, 90%));
}

QProgressBar {
	border: 1px solid rgba(73, 0, 0, 50%);
	border-radius: 2px;
	background-color: rbga(28, 0, 0, 20%);
	text-align: center;
	color: rgb(79, 0, 0);
}

QProgressBar::chunk {
	background-color: rgba(51, 0, 0, 50%);
	width: 10px;
	margin: 0.5px;
}

/************* The following are used for VirGO **************/

QMainWindow {
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 rgb(61, 0, 0), stop: 1 rgb(35, 0, 0));
}

QMainWindow::separator {
	border: 0px solid rgb(35, 0, 0);
	background: rgb(47, 0, 0);
}

QMainWindow::separator:horizontal {
	border-left: 0px;
}

QMainWindow::separator:hover {
	background: rgb(75, 0, 0);
}

QMainWindow::separator:horizontal:hover {
	border-left: 0px;
	background: rgb(75, 0, 0);
}

QDockWidget {
	color: rgb(156, 0, 0);
	border: 1px solid rgb(17, 0, 0);
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 rgb(61, 0, 0), stop: 1 rgb(35, 0, 0));
/*	titlebar-close-icon: url(close.png);
	titlebar-normal-icon: url(undock.png);*/
}

QDockWidget::title {
	text-align: left;
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 rgb(61, 0, 0), stop: 1 rgb(35, 0, 0));
	padding-left: 5px;
}

QDockWidget .QWidget {
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 rgb(61, 0, 0), stop: 1 rgb(35, 0, 0));
}

	
QTreeView, QTreeView:active {
	background-color: rgb(54, 0, 0);
	alternate-background-color: rgb(61, 0, 0);
	color: rgb(101, 0, 0);
}

QDateEdit {
	padding-right: 20px; /* make room for the arrows */background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 rgba(48, 0, 0, 90%), stop: 1 rgba(33, 0, 0, 90%));
	border: 1px solid rgb(0, 0, 0);
	background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 rgba(140, 0, 0, 90%), stop: 1 rgba(74, 0, 0, 90%));
	color: rgb(22, 0, 0);
	padding: 0px;
	border-radius: 0px;
}

QDateEdit::up-button {
	subcontrol-origin: border;
	subcontrol-position: top right; /* position at the top right corner */
	width: 20px; /* 16 + 2*1px border-width = 15px padding + 3px parent border */
	border: solid 1px;	
	border-right-color: rgb(0, 0, 0);
	border-top-color: rgb(0, 0, 0);
	image: url(:/graphicGui/gui/nv_spinup.png);
	border-width: 1px;
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 rgba(66, 0, 0, 90%), stop: 1 rgba(54, 0, 0, 90%));
}

QDateEdit::down-button {
	subcontrol-origin: border;
	subcontrol-position: bottom right; /* position at the bottom right corner */
	width: 20px; /* 16 + 2*1px border-width = 15px padding + 3px parent border */
	border: solid 1px;	
	border-right-color: rgb(0, 0, 0);
	border-bottom-color: rgb(0, 0, 0);
	image: url(:/graphicGui/gui/nv_spindown.png);
	border-width: 1px;
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 rgba(48, 0, 0, 90%), stop: 1 rgba(33, 0, 0, 90%));
}

QMenu {
	background-color: rgb(61, 0, 0); /* sets background of the menu */
	border: 1px solid rgb(0, 0, 0);
}

QMenu::item {
	/* sets background of menu item. set this to something non-transparent
	if you want menu color and menu item color to be different */
	background-color: rgb(47, 0, 0);
}

QMenu::item:selected { /* when user selects item using mouse or keyboard */
	background-color: rgb(65, 0, 0);
}
