/**************************************************************************************************************
 * General styles
 *************************************************************************************************************/

QWidget {}

QLabel {}
QLabel:disabled {}

QDockWidget {}

QFrame {}
QFrame[frameShape="4"],
QFrame[frameShape="5"] {}

QToolTip {}

*[nightMode="true"] QToolTip {}

QSizeGrip {}

QTextEdit,
QPlainTextEdit,
QListWidget,
QTreeWidget,
QLineEdit {}

QTextEdit,
QPlainTextEdit,
QListWidget,
QLineEdit {}

QTextEdit:disabled,
QListWidget:disabled,
QTreeWidget:disabled,
QLineEdit:disabled {}

QTextBrowser {}

QGroupBox {}

QGroupBox::title {}

QTabWidget::pane {}
QTabWidget::tab-bar {}

QTabBar {}

QListView {}
QListView::item {}
QListView::item:hover {}
QListView::item:selected {}

QProgressBar {}
QProgressBar::chunk {}

QTreeView {}

QHeaderView::section {}
QHeaderView::up-arrow {}
QHeaderView::down-arrow {}

QMenu {}
QMenu::item {}
QMenu::item:selected {}

/*
 * Windows
 */

QFrame#titleBar {}

QLabel#stelWindowTitle {}

QFrame#viewContent {}

/*
 * Main tab bar on windows
 */

QListView#stackListWidget {}
QListView::item:hover#stackListWidget {}
QListView::item:selected#stackListWidget {}
QListView::item#stackListWidget {}

/*
 * Secondary tab bar
 */

QTabBar::tab {}
QTabBar::tab:selected {}
QTabBar::tab:top {}
QTabBar::tab:top:hover {}
QTabBar::tab:top:selected {}
QTabBar::tab:bottom {}
QTabBar::tab:bottom:hover {}
QTabBar::tab:bottom:selected {}
QTabBar QToolButton {}

/*
 * QPushButton and QToolButton
 */

QToolButton {}
QPushButton {}
QPushButton, QToolButton {}
QPushButton:disabled, QToolButton:disabled {}
QPushButton:flat, QToolButton:flat {}
QPushButton:hover, QToolButton:hover {}
QPushButton:pressed, QToolButton:pressed {}
QPushButton:checked, QToolButton:checked {}
QToolButton#pushButtonGotoSearchSkyObject {}
QToolButton#moveUp, QToolButton#moveDown, QToolButton#moveLeft, QToolButton#moveRight {}
QToolButton#pushButtonCustomStepsDialog, QToolButton#pushButtonNow, QToolButton#pushButtonExtraEphemerisDialog {}
ColorButton {}
StelCloseButton, StelCloseButton:hover {}

/*
 * QScrollBar:horizontal
 */

QScrollBar:horizontal {}
QScrollBar::handle:horizontal {}
QScrollBar::add-line:horizontal {}
QScrollBar::sub-line:horizontal {}
QScrollBar::add-page:horizontal,
QScrollBar::sub-page:horizontal {}
QScrollBar::right-arrow {}
QScrollBar::left-arrow {}

/*
 * QSlider:horizontal
 */

QSlider {}
QSlider::groove:horizontal {}
QSlider::handle:horizontal {}
QSlider::handle:horizontal:hover {}
QSlider::groove:horizontal:disabled {}
QSlider::handle:horizontal:disabled {}

/* solution to night mode for DialogSeparate */
QWidget#NightCover{}

/**************************************************************************************************************
 * shortcutsDialog
 *************************************************************************************************************/

QLineEdit[collision="true"] {}

/**************************************************************************************************************
 * dateTimeDialog
 *************************************************************************************************************/

#dateTimeDialogForm #dateTimeTabWidget QFrame {}

#dateTimeDialogForm #dateTimeTabWidget QLabel {}

#dateTimeDialogForm QSpinBox,
#dateTimeDialogForm QDoubleSpinBox {}

#dateTimeDialogForm QSpinBox::up-button,
#dateTimeDialogForm QDoubleSpinBox::up-button {}

#dateTimeDialogForm QSpinBox::up-arrow,
#dateTimeDialogForm QDoubleSpinBox::up-arrow {}

#dateTimeDialogForm QSpinBox::down-button,
#dateTimeDialogForm QDoubleSpinBox::down-button {}

#dateTimeDialogForm QSpinBox::down-arrow,
#dateTimeDialogForm QDoubleSpinBox::down-arrow {}

/**************************************************************************************************************
 * AstroCalc
 *************************************************************************************************************/

#astroCalcDialogForm QCheckBox,
#astroCalcDialogForm QLabel {}

QLabel#monthlyElevationTimeInfo {}

QWidget#eclipseFilterWidget {}

QChartView#hecPositionsChartView {}

/**************************************************************************************************************
 * searchDialog
 *************************************************************************************************************/

QFrame#horizontalSearchLayout {}

QLineEdit#lineEditSearchSkyObject {}

QListView#searchListView {}

QFrame#greekLettersFrame {}

QFrame#j2000Frame {}

/**************************************************************************************************************
 * script console
 *************************************************************************************************************/

#scriptConsoleForm QLabel#quickrunLabel {}

/**************************************************************************************************************
 * search dialog
 *************************************************************************************************************/

#searchDialogForm QLabel#labelGreekLetterTitle, 
#searchDialogForm QLabel#simbadStatusLabel, 
#searchDialogForm QLabel#simbadCooStatusLabel {}

/**************************************************************************************************************
 * shortcuts dialog
 *************************************************************************************************************/

#shortcutsDialogForm QLabel#primaryLabel, 
#shortcutsDialogForm QLabel#altLabel {}

/**************************************************************************************************************
 * locationDialog
 *************************************************************************************************************/

QLineEdit#citySearchLineEdit {}

QListView#citiesListView {}

QListView#citiesListView::item {}

QFrame#frame_coordinates {}

/**************************************************************************************************************
 * configurationDialog
 *************************************************************************************************************/

QTextBrowser#deltaTAlgorithmDescription {}

QListWidget#scriptListWidget {}

QListWidget#pluginsListWidget {}

QCommandLinkButton#getStarsButton {}

/**************************************************************************************************************
 * viewDialog
 *************************************************************************************************************/

QTextBrowser#projectionTextBrowser {}

QListWidget#projectionListWidget {}

QListWidget#landscapesListWidget {}

QListWidget#culturesListWidget {}

/* Try to make them the same size */
QPushButton#selectAllCatalogs,
QPushButton#selectStandardCatalogs,
QPushButton#selectPreferredCatalogs,
QPushButton#storePreferredCatalogs,
QPushButton#selectNoneCatalogs {}

/**************************************************************************************************************
 * helpDialog
 *************************************************************************************************************/

QTextBrowser#helpBrowser,
QTextBrowser#aboutBrowser {}

/**************************************************************************************************************
 * satellitesDialog
 *************************************************************************************************************/

QListWidget#satellitesList,
QListWidget#sourceList {}

#satellitesDialog QLabel#labelAutoAdd,
#satellitesDialog QLabel#labelTle,
#satellitesDialog QLabel#labelTleEpoch,
#satellitesDialog QLabel#labelTleEpochData,
#satellitesDialog QLabel#validAgeLabel {}

/**************************************************************************************************************
 * TelescopeControl
 *************************************************************************************************************/

QTreeView::item:selected#treeView {}

QTreeView::item:!enabled#treeView {}

/**************************************************************************************************************
 * ocularDialog
 *************************************************************************************************************/

QPushButton#pushButtonMoveSensorUp,
QPushButton#pushButtonMoveOcularUp,
QPushButton#pushButtonMoveTelescopeUp,
QPushButton#pushButtonMoveLensUp {}

QPushButton#pushButtonMoveSensorDown,
QPushButton#pushButtonMoveOcularDown,
QPushButton#pushButtonMoveTelescopeDown,
QPushButton#pushButtonMoveLensDown {}

QLabel#lensNote {}

QMessageBox {}

QColorDialog {}

/*************************************************************************
 * AstroCalcAlmanacWidget
 *************************************************************************/

AstroCalcAlmanacWidget QFrame[frameShape="4"],
AstroCalcAlmanacWidget QFrame[frameShape="5"] {}
