QDialog {
	background: rgba(42, 59, 80, 0%)
}

QFrame {
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 	rgba(42, 59, 80, 40%), stop: 1 rgba(25, 35, 61, 40%));
	border: 0px;
	color : #aaada4;
    font-family: "DejaVu";
}

QFrame:active {
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 	rgba(42, 59, 80, 90%), stop: 1 rgba(25, 35, 61, 90%));
}

DialogFrame {
  border-width: 1px;
  border-style: solid;
  border-color: #081f25;
}

ResizeFrame {
 background-image: url(data/gui/resize.png);
}


QLabel, QLabel:active {
	background: None;
}

QLineEdit {
     border: 1.5px solid #1e1e26;
     border-radius: 8px;
     padding: 0 8px;
     background: rgba(25, 35, 61, 40%);
     selection-background-color: darkgray;
     color: #aaada4;
}

QPushButton {
  border: 1.5px solid #2e2e36;
  border-radius: 8px;
  background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
   stop: 0 #d6d7da, stop: 1 #babbbe);
}

QPushButton:pressed {
 background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
   stop: 0 #babbde, stop: 1 #d6d7fa);
}

QScrollBar:vertical {
 border: 1px solid #2e2e36;
 background: #4a4b50;
 width: 15px;
         margin: 22px 0px 22px 0px;
}

QScrollBar::handle:vertical {
    border: 2px solid #4a4b50;
    background: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 0,
   stop: 0 #c6c7ca, stop: 1 #aaabae);
	border-radius: 4px;
	min-height: 20px;
}

QScrollBar::add-line:vertical {
         border: 3px solid #2e2e36;
         background: #36375c;
         height: 20px;
         border-radius: 5px;
         subcontrol-position: bottom;
         subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical {
         border: 3px solid #2e2e36;
         background: #36375c;
         height: 20px;
         border-radius: 5px;
         subcontrol-position: top;
         subcontrol-origin: margin;
}

QScrollBar:left-arrow:vertical, QScrollBar::right-arrow:vertical {
         border: 2px solid grey;
         width: 3px;
         height: 3px;
         background: white;
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
         background: rgba(18, 19, 36, 70%);
}

QGroupBox {
     border: 1px solid rgba(31, 46, 37, 50%);
     border-radius: 4px;
     margin-top: 1ex;
     font-weight: bold;
     background: solid rgba(38, 59, 52, 40%);
}

QGroupBox::title {
     subcontrol-origin: margin;
     padding: 0px 3px;
     color : #aaada4;
	 left: 15px
}


QTabWidget::pane {
   border-top: 2px solid #348483;
}

/* Style the tab using the tab sub-control. Note that
         it reads QTabBar _not_ QTabWidget */
QTabBar::tab {
    font : bold;
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 	#2a3b50, stop: 1 #19233c);
    border: 2px solid #348483;
    border-bottom-color: #348483; /* same as the pane color */
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    min-width: 10ex;
    padding: 2px;
    color: #aaada4;
}

QTabBar::tab:selected, QTabBar::tab:hover {
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 	#19233c, stop: 1 #2a3b50);
}

QTabBar::tab:selected {
	border-color: #A2A78B;
	border-bottom-color: #2a3b50; /* same as pane color */
}

QTabBar::tab:!selected {
	margin-top: 2px; /* make non-selected tabs look smaller */
}

/* make use of negative margins for overlapping tabs */
QTabBar::tab:selected {
	/* expand/overlap to the left and right by 4px */
	margin-left: -4px;
	margin-right: -4px;
}

QTabBar::tab:first:selected {
	margin-left: 0; /* the first selected tab has nothing to overlap with on the left */
}

QTabBar::tab:last:selected {
	margin-right: 0; /* the last selected tab has nothing to overlap with on the right */
}

QTabBar::tab:only-one {
	margin: 0; /* if there is only one tab, we don't want overlapping margins */
}

QListWidget, QListWidget:active {
 	background: solid rgba(18, 19, 36, 70%);
	border: 1px;
    border-radius: 4px;
    border-color: #081f25;
    border-style: solid;
	selection-background-color: #2a3b50;
}

QCheckBox
{
  color : #aaada4;
}
QCheckBox::indicator
{
  width: 13px;
  height: 13px;
  background-color: #225555;
}
QCheckBox::indicator:checked
{
     image: url(:/graphicGui/gui/checkbox-checked.png);
}
QCheckBox::indicator:unchecked
{
     image: url(:/graphicGui/gui/checkbox-unchecked.png);
}

QRadioButton
{
  color : #aaada4;
}
QRadioButton::indicator
{
  width: 13px;
  height: 13px;
  margin-left: 4px;
}
QRadioButton::indicator:checked
{
     image: url(:/graphicGui/gui/radio-checked.png);
}
QRadioButton::indicator:unchecked
{
     image: url(:/graphicGui/gui/radio-unchecked.png);
}

QSpinBox {
     padding-right: 10px; /* make room for the arrows */
     border-image: url(:/images/frame.png) 4;
     border-width: 3;
background-color: #225555;
color : #aaada4;
}


QDoubleSpinBox {
     padding-right: 15px; /* make room for the arrows */
     border-image: url(:/images/frame.png) 4;
     border-width: 3;
background-color: #225555;
color : #aaada4;
}
