[po4a_paths] ../../po/stellarium-skycultures-descriptions/stellarium-skycultures-descriptions.pot
[type: xhtml] ../../skycultures/al-sufi/description.en.utf8
[type: xhtml] ../../skycultures/almagest/description.en.utf8
[type: xhtml] ../../skycultures/anutan/description.en.utf8
[type: xhtml] ../../skycultures/arabic/description.en.utf8
[type: xhtml] ../../skycultures/arabic_moon_stations/description.en.utf8
[type: xhtml] ../../skycultures/aztec/description.en.utf8
[type: xhtml] ../../skycultures/belarusian/description.en.utf8
[type: xhtml] ../../skycultures/boorong/description.en.utf8
[type: xhtml] ../../skycultures/chinese/description.en.utf8
[type: xhtml] ../../skycultures/chinese_contemporary/description.en.utf8
[type: xhtml] ../../skycultures/chinese_medieval/description.en.utf8
[type: xhtml] ../../skycultures/dakota/description.en.utf8
[type: xhtml] ../../skycultures/egyptian/description.en.utf8
[type: xhtml] ../../skycultures/hawaiian_starlines/description.en.utf8
[type: xhtml] ../../skycultures/indian/description.en.utf8
[type: xhtml] ../../skycultures/inuit/description.en.utf8
[type: xhtml] ../../skycultures/japanese_moon_stations/description.en.utf8
[type: xhtml] ../../skycultures/kamilaroi/description.en.utf8
[type: xhtml] ../../skycultures/korean/description.en.utf8
[type: xhtml] ../../skycultures/lokono/description.en.utf8
[type: xhtml] ../../skycultures/macedonian/description.en.utf8
[type: xhtml] ../../skycultures/maori/description.en.utf8
[type: xhtml] ../../skycultures/maya/description.en.utf8
[type: xhtml] ../../skycultures/mongolian/description.en.utf8
[type: xhtml] ../../skycultures/mulapin/description.en.utf8
[type: xhtml] ../../skycultures/navajo/description.en.utf8
[type: xhtml] ../../skycultures/norse/description.en.utf8
[type: xhtml] ../../skycultures/northern_andes/description.en.utf8
[type: xhtml] ../../skycultures/ojibwe/description.en.utf8
[type: xhtml] ../../skycultures/romanian/description.en.utf8
[type: xhtml] ../../skycultures/sami/description.en.utf8
[type: xhtml] ../../skycultures/sardinian/description.en.utf8
[type: xhtml] ../../skycultures/seleucid/description.en.utf8
[type: xhtml] ../../skycultures/siberian/description.en.utf8
[type: xhtml] ../../skycultures/tongan/description.en.utf8
[type: xhtml] ../../skycultures/tukano/description.en.utf8
[type: xhtml] ../../skycultures/tupi/description.en.utf8
[type: xhtml] ../../skycultures/vanuatu_netwar/description.en.utf8
[type: xhtml] ../../skycultures/western/description.en.utf8
[type: xhtml] ../../skycultures/western_SnT/description.en.utf8
[type: xhtml] ../../skycultures/western_hlad/description.en.utf8
[type: xhtml] ../../skycultures/western_rey/description.en.utf8
