[Desktop Entry]
Version=1.0
Type=Application
Name=Stellarium
Name[af]=Stellarium
Name[ar]=ستيللاريوم
Name[ast]=Stellarium
Name[az]=Stellarium
Name[be]=Stellarium
Name[bg]=Stellarium
Name[bn]=স্টেলারিয়াম
Name[br]=Stellarium
Name[bs]=Stellarium
Name[ca]=Stellarium
Name[ca@valencia]=Stellarium
Name[cs]=Stellarium
Name[cv]=Stellarium
Name[da]=Stellarium
Name[de]=Stellarium
Name[el]=Stellarium
Name[en_CA]=Stellarium
Name[en_GB]=Stellarium
Name[eo]=Stellarium
Name[es]=Stellarium
Name[et]=Stellarium
Name[eu]=Stellarium
Name[fa]=ستاره شناسی
Name[fi]=Stellarium
Name[fr]=Stellarium
Name[ga]=Stellarium
Name[gd]=Stellarium
Name[gl]=Stellarium
Name[gu]=Stellarium
Name[he]=Stellarium
Name[hi]=स्टेलेरियम
Name[hr]=Stellarium
Name[hu]=Stellarium
Name[hy]=Stellarium
Name[id]=Stellarium
Name[is]=Stellarium
Name[it]=Stellarium
Name[ja]=ステラリウム
Name[jv]=Stéllarium
Name[ka]=Stellarium
Name[kk]=Stellarium
Name[kn]=ಸ್ಟೆಲ್ಲೇರಿಯಂ
Name[ko]=스텔라리움
Name[ky]=Stellarium
Name[la]=Stellarium
Name[lb]=Stellarium
Name[lt]=Stellarium planetariumas
Name[lv]=Stellarium
Name[mk]=Stellarium
Name[ml]=Stellarium
Name[mn]=Stellarium
Name[mr]=स्टेलारीअम
Name[ms]=Stellarium
Name[nb]=Stellarium
Name[nds]=Stellarium
Name[ne]=Stellarium
Name[nl]=Stellarium
Name[nn]=Stellarium
Name[pa]=Stellarium
Name[pl]=Stellarium
Name[pt]=Stellarium
Name[pt_BR]=Stellarium
Name[ro]=Stellarium
Name[ru]=Stellarium
Name[sc]=Stellarium
Name[si]=Stellarium
Name[sk]=Stellarium
Name[sl]=Stellarium
Name[sq]=Stellarium
Name[sr]=Стеларијум
Name[sv]=Stellarium
Name[ta]=ஸ்டெல்லாரியம்
Name[te]=స్టెల్లేరియమ్
Name[tg]=Stellarium
Name[th]=Stellarium
Name[tl]=Stellarium
Name[tr]=Stellarium
Name[tzm]=Stellarium
Name[ug]=Stellarium
Name[uk]=Stellarium
Name[vi]=Stellarium
Name[zh]=Stellarium
Name[zh_CN]=Stellarium
Name[zh_HK]=Stellarium
Name[zh_TW]=Stellarium
GenericName=Desktop planetarium
GenericName[af]=Werkskerm Planetarium
GenericName[ar]=برنامج قبة سماوية للحاسب المكتبي
GenericName[ast]=Planetariu pal escritoriu
GenericName[az]=Masaüstü planetari
GenericName[be]=Настольны плянэтарый
GenericName[bg]=Настолен планетариум
GenericName[bn]=ডেস্কটপ প্ল্যানেটোরিয়াম
GenericName[br]=Planetariom a vurev
GenericName[bs]=Desktop planetarijum
GenericName[ca]=Planetari per a l'escriptori
GenericName[ca@valencia]=Planetari d'escriptori
GenericName[cs]=Planetárium na vaší obrazovce
GenericName[cv]=Сӗтелҫи Планетариум
GenericName[da]=Planetarium på desktoppen
GenericName[de]=Elektronisches Planetarium
GenericName[el]=Πλανητάριο επιφάνειας εργασίας
GenericName[en_CA]=Desktop planetarium
GenericName[en_GB]=Desktop planetarium
GenericName[eo]=Tabula planetario
GenericName[es]=Planetario de escritorio
GenericName[et]=Töölaua planetaarium
GenericName[eu]=Mahaigaineko planetarioa
GenericName[fa]=آسمان‌نمای رومیزی
GenericName[fi]=Työpöytäplanetaario
GenericName[fr]=Planétarium de bureau
GenericName[ga]=Pláinéadlann Deisce
GenericName[gd]=Amharc-lann nam planaidean airson an deasg
GenericName[gl]=Planetario de escritorio
GenericName[gu]=ડેસ્કટોપ નભોમંડળ
GenericName[he]=פלנטריום שולחני
GenericName[hi]=डेस्कटॉप नक्षत्र-भवन
GenericName[hr]=Desktop planetarij
GenericName[hu]=Munkaasztali planetárium
GenericName[hy]=Սեղանի մոլորակացույց
GenericName[id]=Planetarium desktop
GenericName[is]=Skjáborðsstjörnuver
GenericName[it]=Planetario per il desktop
GenericName[ja]=デスクトップ・プラネタリウム
GenericName[jv]=Planetarium Desktop
GenericName[ka]=სამაგიდო პლანეტარიუმი
GenericName[kk]=Үстелдегі планетарий
GenericName[kn]=ಗಣಕ ತಾರಾಲಯ
GenericName[ko]=데스크톱 플라네타리움
GenericName[la]=planetarium mensae illuminatae
GenericName[lb]=Desktop Planéitarium
GenericName[lt]=Darbastalio planetariumas
GenericName[lv]=Darbvirsmas planetārijs
GenericName[mk]=Планетариум на работна површина
GenericName[ml]=പണിയിട പ്ലാനറ്റേറിയം
GenericName[mn]=Суурин комьютер Planetarium
GenericName[mr]=डेस्कटॉप तारांगण
GenericName[ms]=Planetarium Atas Meja
GenericName[nb]=Skrivebordsplanetarium
GenericName[nds]=Planetarium för den Schriefdisch
GenericName[ne]=डेस्कटप ग्रहमण्डल
GenericName[nl]=Planetarium op home computer
GenericName[nn]=Skrivebordsplanetarium
GenericName[pa]=ਡੈਸਕਟਾਪ ਪਲੇਟੇਰੀਅਮ
GenericName[pl]=Planetarium na pulpicie
GenericName[pt]=Planetário
GenericName[pt_BR]=Planetário de ambiente de trabalho
GenericName[ro]=Planetarium de birou
GenericName[ru]=Настольный планетарий
GenericName[sc]=Planetariu de computer de mesa
GenericName[sk]=Planetárium v počítači
GenericName[sl]=Namizni planetarij
GenericName[sq]=Planetarium në desktop
GenericName[sr]=Планетаријум на радној површини
GenericName[sv]=Skrivbordsplanetarium
GenericName[ta]=கணிப்பொறி கோளரங்கம்
GenericName[te]=డెస్క్‌టాప్ నక్షత్ర వేధశాల
GenericName[tg]=Планетариуми Мизи Корӣ
GenericName[th]=ท้องฟ้าจำลองบนคอมพิวเตอร์
GenericName[tl]=Planetaryum para sa desktop
GenericName[tr]=Masaüstü Yıldız Evi
GenericName[ug]=ئۈستەلئۈستى رەسەتخانىسى
GenericName[uk]=Настільний планетарій
GenericName[vi]=Ngắm sao trên Màn hình máy tính
GenericName[zh]=桌面天文馆
GenericName[zh_CN]=桌面天文馆
GenericName[zh_HK]=桌面星象館
GenericName[zh_TW]=桌上型星象儀
Exec=stellarium --startup-script=%f
Icon=stellarium
StartupNotify=false
Terminal=false
Categories=Astronomy;Education;Science;
Comment=Planetarium
Comment[af]=Planetarium
Comment[ar]=قبة سماوية
Comment[ast]=Planetariu
Comment[az]=Planetari
Comment[be]=Плянэтарый
Comment[bg]=Планетариум
Comment[bn]=প্লানেটারিয়াম
Comment[br]=Steredaoueg
Comment[bs]=Planetarium
Comment[ca]=Planetari
Comment[ca@valencia]=Planetari
Comment[cs]=Planetárium
Comment[cv]=Планетариум
Comment[da]=Planetarium
Comment[de]=Planetarium
Comment[el]=Πλανητάριο
Comment[en_CA]=Planetarium
Comment[en_GB]=Planetarium
Comment[eo]=Planetario
Comment[es]=Planetario
Comment[et]=Planetaarium
Comment[eu]=Planetarioa
Comment[fa]=آسمان‌نما
Comment[fi]=Planetaario
Comment[fr]=Un planétarium interactif
Comment[ga]=Pláinéadlann
Comment[gd]=Amharc-lann nam planaidean
Comment[gl]=Planetario
Comment[gu]=નભોમંડળ
Comment[he]=פלנטריום
Comment[hi]=नक्षत्र-भवन
Comment[hr]=Planetarij
Comment[hu]=Planetárium
Comment[hy]=Մոլորակացույց
Comment[id]=Planetarium
Comment[is]=Stjörnuver
Comment[it]=Planetario
Comment[ja]=プラネタリウム
Comment[jv]=Planetarium
Comment[ka]=პლანეტარიუმი
Comment[kk]=Планетарий
Comment[kn]=ತಾರಾಲಯ
Comment[ko]=플라네타리움
Comment[ky]=Планетарий
Comment[la]=Planetarium
Comment[lb]=Planéitarium
Comment[lt]=Planetariumas
Comment[lv]=Planetārijs
Comment[mk]=Планетариум
Comment[mn]=Planetarium
Comment[ms]=Planetarium
Comment[nb]=Planetarium
Comment[nds]=Planetarium
Comment[nl]=Planetarium
Comment[pl]=Planetarium
Comment[pt]=Planetário
Comment[pt_BR]=Planetário
Comment[ro]=Planetarium
Comment[ru]=Планетарий
Comment[sc]=Planetariu
Comment[sk]=Planetárium
Comment[sl]=Planetarij
Comment[sq]=Planetarium
Comment[sr]=Планетаријум
Comment[sv]=Planetarium
Comment[ta]=கோளரங்கம்
Comment[te]=నక్షత్ర వేధశాల
Comment[tg]=Planetarium
Comment[th]=ท้องฟ้าจำลอง
Comment[tl]=planetaryum
Comment[tr]=Planetaryum
Comment[ug]=Planetarium
Comment[uk]=Планетарій
Comment[vi]=Mô hình vũ trụ
Comment[zh]=天文馆
Comment[zh_CN]=天文馆
Comment[zh_HK]=星象館
Comment[zh_TW]=星象儀
MimeType=application/x-stellarium-script;
Actions=Window;Fullscreen;Debugmode;Scale;

[Desktop Action Window]
Name=Open in window
Name[af]=Maak in 'n nuwe skerm oop
Name[ar]=افتح في نافذة
Name[ast]=Abrir na ventana
Name[az]=Pəncərədə aç
Name[be]=Адкрыць у вакне
Name[bg]=Отваряне в прозорец
Name[bn]=উইন্ডো আকারে চালু
Name[br]=Digeriñ en ur prenestr
Name[bs]=Otvori u prozoru
Name[ca]=Obre a una finestra
Name[ca@valencia]=Obri en una finestra
Name[cs]=Otevřít v okně
Name[cv]=Чӳречерен уҫса кӑтарт
Name[da]=Åbn i vindue
Name[de]=Im Fenster öffnen
Name[el]=Άνοιξε σε παράθυρο
Name[en_CA]=Open in window
Name[en_GB]=Open in window
Name[eo]=Malfermi en fenestro
Name[es]=Abrir en ventana
Name[et]=Ava aknas
Name[eu]=Ireki leihoan
Name[fa]=باز کردن در پنجره
Name[fi]=Avaa ikkunassa
Name[fr]=Ouvrir dans une fenêtre
Name[gd]=Fosgail ann an uinneag
Name[gl]=Abrir en fiestra
Name[gu]=નવી વિન્ડો માં ખોલો
Name[he]=פתח בחלון
Name[hi]=विंडो में खोलें
Name[hr]=Otvori u prozoru
Name[hu]=Megjelenítés ablakban
Name[hy]=Բացել պատուհանում
Name[id]=Buka dalam jendela
Name[is]=Opna í glugga
Name[it]=Apri in una finestra
Name[ja]=新しいウィンドウで開く
Name[jv]=Wênga ing kaca
Name[ka]=ფანჯარაში გახსნა
Name[kk]=Терезеге ашу
Name[kn]=ಕಿಟಕಿಯಲ್ಲಿ ತೆರೆಯಿರಿ
Name[ko]=창모드로 열기
Name[la]=Aperire in fenestra
Name[lb]=An enger Fënster opmaachen
Name[lt]=Atverti lange
Name[mn]=Цонхоор харах
Name[ms]=Buka dalam tetingkap
Name[nl]=In venster openen
Name[pl]=Otwórz w oknie
Name[pt]=Abrir na janela
Name[pt_BR]=Abrir em uma janela
Name[ro]=Deschide în fereastră
Name[ru]=Открыть в окне
Name[sc]=Aperi in sa fentana
Name[sk]=Otvoriť v okne
Name[sl]=Odpri v oknu
Name[sq]=Hape në dritare
Name[sr]=Отвори у прозору
Name[sv]=Öppna i nytt fönster
Name[ta]=புது சாரளத்தில் திற
Name[te]=విండోలో ఓపెన్ చెయ్యి
Name[th]=เปิดแบบหน้าต่าง
Name[tl]=Buksan sa window
Name[tr]=Pencere içinde aç
Name[tzm]=Ṛẓem g usatam
Name[uk]=Відкрити у вікні
Name[vi]=Mở ở chế độ cửa sổ
Name[zh]=在窗口中打开
Name[zh_CN]=在窗口中打开
Name[zh_HK]=開啟視窗模式
Name[zh_TW]=以視窗模式開啟
Exec=stellarium -f no

[Desktop Action Fullscreen]
Name=Open in fullscreen
Name[af]=Maak in 'n volskerm oop
Name[ar]=افتح بشاشة كاملة
Name[ast]=Abrir en pantalla completa
Name[az]=Tam ekranda aç
Name[be]=Адкрыць на поўны экран
Name[bg]=Отваряне на цял екран
Name[bn]=পুরো স্ক্রীন জুড়ে
Name[br]=Digeriñ er skramm-leun
Name[bs]=Otvori u punom ekranu
Name[ca]=Obrir a pantalla completa
Name[ca@valencia]=Obri en pantalla completa
Name[cs]=Otevřít na celou obrazovku
Name[cv]=Екранӗпех уҫса кӑтарт
Name[da]=Åbn i fuldskærm
Name[de]=Im Vollbildmodus öffnen
Name[el]=Άνοιγμα σε πλήρη οθόνη
Name[en_CA]=Open in fullscreen
Name[en_GB]=Open in fullscreen
Name[eo]=Malfermi tutekrane
Name[es]=Abrir en pantalla completa
Name[et]=Ava täisekraanil
Name[eu]=Ireki pantaila osoan
Name[fa]=باز کردن در نمای تمام‌صفحه
Name[fi]=Avaa koko näytön tilassa
Name[fr]=Ouvrir en plein écran
Name[gd]=Fosgail sa mhodh làn-sgrìn
Name[gl]=Abrir en pantalla completa
Name[gu]=ફુલસ્ક્રીન માં ખોલો
Name[he]=פתח במסך מלא
Name[hi]=सम्पूर्ण स्क्रीन में खोलें
Name[hr]=Otvori u punom zaslonu
Name[hu]=Megnyitás teljes képernyős módban
Name[hy]=Բացել լիէկրան
Name[id]=Buka dalam layar penuh
Name[is]=Opna á öllum skjánum
Name[it]=Apri in modalità schermo intero
Name[ja]=最大化して開く
Name[jv]=Bibar layar penuh
Name[ka]=სრულ ეკრანზე გახსნა
Name[kk]=Толық экранға ашу
Name[kn]=ಪೂರ್ಣಪರದೆಯಲ್ಲಿ ತೆರೆಯಿರಿ
Name[ko]=전체화면으로 열기
Name[la]=Aperire in plena mensa
Name[lb]=Am Vollbild opmaachen
Name[lt]=Atverti visame ekrane
Name[mn]=Дэлгэц дүүрэн харах
Name[ms]=Buka  dalam skrin penuh
Name[nl]=In volledig scherm openen
Name[pl]=Otwórz na pełnym ekranie
Name[pt]=Abrir em ecrã inteiro
Name[pt_BR]=Abrir em tela cheia
Name[ro]=Deschide în ecran complet
Name[ru]=Открыть во весь экран
Name[sc]=Aperi totu
Name[sk]=Otvoriť na celú obrazovku
Name[sl]=Odpri v celozaslonskem načinu
Name[sq]=Hape sa krejt ekrani
Name[sr]=Отвори преко целог екрана
Name[sv]=Öppna i helskärmsläge
Name[ta]=முழுத்திரையில் திற
Name[te]=ఫుల్‌స్క్రీన్‌లో ఓపెన్ చెయ్యి
Name[tg]=Кушодан дар экрани васеъ
Name[th]=เปิดแบบเต็มจอ
Name[tl]=Buksan sa buong screen
Name[tr]=Tam ekran olarak aç
Name[uk]=Відкрити у повноекранному режимі
Name[vi]=Mở toàn màn hình
Name[zh]=在全屏模式下打开
Name[zh_CN]=在全屏模式下打开
Name[zh_HK]=開啟全螢幕模式
Name[zh_TW]=以全螢幕開啟
Exec=stellarium -f yes

[Desktop Action Debugmode]
Name=Open in debug mode
Name[af]=Open in ontfout wyse
Name[ar]=افتح في وضع التصحيح
Name[az]=Tərtibatçı rejimində aç
Name[be]=Адкрыць у рэжыме адладжваньня
Name[bg]=Отваряне в режим на изчистване на грешки
Name[bn]=ডিবাগ মোডে চালু
Name[br]=Digeriñ er mod diveugiñ
Name[bs]=Otvori u debug modu
Name[ca]=Obrir en mode depuració
Name[ca@valencia]=Obri en mode de depuració
Name[cs]=Otevřít v ladícím režimu
Name[cv]=Йӑнӑш тӳрлетес мехел уҫ
Name[da]=Åbn i fejlretningstilstand
Name[de]=Im Fehlersuchmodus öffnen
Name[el]=Άνοιξε σε λειτουργία αποσφαλμάτωσης
Name[en_CA]=Open in debug mode
Name[en_GB]=Open in debug mode
Name[es]=Abrir en modo depuración
Name[et]=Ava silumisrežiimis
Name[eu]=Ireki arazketa moduan
Name[fa]=بازکردن دروضعیت اشکال زدا
Name[fi]=Avaa vianetsintätilassa
Name[fr]=Ouvrir en mode de débogage
Name[gd]=Fosgail sa mhodh dì-bhugachaidh
Name[gl]=Abrir en modo depuración
Name[gu]=ડિબગ મોડ માં ખોલો
Name[he]=פתח במצב דיבאג
Name[hi]=बग निकलने वाली प्रणाली में खोलें
Name[hr]=Otvori u debug modu
Name[hu]=Megnyitás hibakeresés módban
Name[hy]=Բացել վրիպազերծման ռեժիմում
Name[id]=Buka dalam mode debug
Name[is]=Opna í aflúsunarham
Name[it]=Apri in modalità di debug
Name[ja]=デバッグモードで開く
Name[jv]=Wênga ing mode debug
Name[ka]=პროგრამული გამართვის რეჟიმში გახსნა
Name[kk]=Дұрыстау тәртібінде ашу
Name[ko]=디버그 모드로 열기
Name[la]=Aperire in modo decimexationis
Name[lb]=Am debug Modus opmaachen
Name[lt]=Atverti derinimo režime
Name[mn]=Засвар хийх горим
Name[ms]=Buka dalam mod nyahpepijat
Name[nl]=In foutopsporingsmodus openen
Name[pl]=Otwórz w trybie debugowania
Name[pt]=Abrir em modo de depuração
Name[pt_BR]=Abrir em modo de depuração
Name[ro]=Deschide în modul depanare
Name[ru]=Открыть в режиме отладки
Name[sc]=Aperi in modalidade debug
Name[sk]=Otvoriť v ladiacom režime
Name[sl]=Odpri v razhroščevalnem načinu
Name[sq]=Hape nën mënyrën diagnostikim
Name[sr]=Отвори у режиму прочишћавања
Name[sv]=Öppna i debugläge
Name[ta]=பிழை நீக்கியில் திற
Name[te]=డీబగ్ మోడ్‌లో ఓపెన్ చెయ్యి
Name[th]=เปิดแบบแก้จุดบกพร่อง
Name[tl]=Buksan sa debug mode
Name[tr]=Hata ayıklama modunda aç
Name[uk]=Відкрити у режимі діагностики
Name[vi]=Mở trong chế độ gỡ lỗi
Name[zh]=在调试模式下打开
Name[zh_CN]=在调试模式下打开
Name[zh_HK]=開啟測試模式
Name[zh_TW]=以除錯模式開啟
Exec=stellarium --dump-opengl-details

[Desktop Action Scale]
Name=Open in scale 200%
Name[af]=Maak oop op 'n skaal van 200%
Name[ar]=افتح بحجم تكبير 200%
Name[bg]=Отваряне в мащаб 200%
Name[bn]=দুগুণ বড় করে চালু করুন
Name[ca]=Obrir a escala 200%
Name[cs]=Otevřít v měřítku 200 %
Name[de]=Öffne mit 200%-Skalierung
Name[en_GB]=Open in scale 200%
Name[es]=Abrir en escala 200%
Name[fi]=Avaa mittakaavassa 200 %
Name[fr]=Ouvrir à l'échelle de 200%
Name[gd]=Fosgail le sgèile 200%
Name[gl]=Aberto a escala 200%
Name[he]=פתח בהגדלה 200%
Name[hr]=Otvori u omjeru 200%
Name[hu]=Megnyitás 200% méretarányban
Name[id]=Buka dalam skala 200%
Name[ja]=スケール200%で開く
Name[ko]=배율 200%로 열기
Name[nl]=Openen op schaal 200%
Name[pt_BR]=Abrir em escala de 200%
Name[ru]=Открыть в масштабе 200%
Name[sk]=Otvoriť v mierke 200%
Name[sv]=Öppna i skala 200 %
Name[tr]=%200 ölçekte aç
Name[uk]=Відкрити у масштабі 200%
Name[zh_CN]=在200%比例下打开
Name[zh_TW]=以縮放 200% 開啟
Exec=stellarium --scale-gui 2.0
