[Desktop Entry]
Version=1.0
Type=Application
Name=Stellarium
GenericName=Desktop planetarium
GenericName[ru]=Настольный планетарий
Exec=stellarium
Icon=stellarium
StartupNotify=false
Terminal=false
Categories=Astronomy;Education;Science;
Comment=Planetarium
Comment[fr]=Planétarium
Comment[ru]=Планетарий

Actions=Window;Fullscreen;Safemode;

[Desktop Action Window]
Name=Open in window
Name[ru]=Открыть в окне
Exec=stellarium -f no
OnlyShowIn=Unity;

[Desktop Action Fullscreen]
Name=Open in fullscreen
Name[ru]=Открыть в полноэкранном режиме
Exec=stellarium -f yes
OnlyShowIn=Unity;

[Desktop Action Safemode]
Name=Open in safe mode
Name[ru]=Открыть в безопасном режиме
Exec=stellarium --safe-mode
OnlyShowIn=Unity;
