[Desktop Entry]
Version=1.0
Type=Application
Name=Stellarium
Name[af]=Stellarium
Name[an]=Stellarium
Name[ar]=ستيللاريوم
Name[ast]=Stellarium
Name[az]=Stellarium
Name[be]=Stellarium
Name[bg]=Stellarium
Name[bn]=স্টেলারিয়াম
Name[bo]=Stellarium
Name[br]=Stellarium
Name[bs]=Stellarium
Name[ca]=Stellarium
Name[cs]=Stellarium
Name[csb]=Stellarium
Name[cy]=Stellarium
Name[da]=Stellarium
Name[de]=Stellarium
Name[el]=Stellarium
Name[en_CA]=Stellarium
Name[en_GB]=Stellarium
Name[eo]=Stellarium
Name[es]=Stellarium
Name[et]=Stellarium
Name[eu]=Stellarium
Name[fa]=Stellarium
Name[fi]=Stellarium
Name[fr]=Stellarium
Name[ga]=Stellarium
Name[gd]=Stellarium
Name[gl]=Stellarium
Name[gu]=Stellarium
Name[he]=Stellarium
Name[hi]=स्टेलेरियम
Name[hne]=Stellarium
Name[hr]=Stellarium
Name[hu]=Stellarium
Name[hy]=Stellarium
Name[id]=Stellarium
Name[is]=Stellarium
Name[it]=Stellarium
Name[ja]=Stellarium
Name[jv]=Stellarium
Name[ka]=Stellarium
Name[kk]=Stellarium
Name[km]=Stellarium
Name[ko]=스텔라리움
Name[ky]=Stellarium
Name[la]=Stellarium
Name[lb]=Stellarium
Name[lt]=Stellarium planetariumas
Name[lv]=Stellarium
Name[mai]=Stellarium
Name[mk]=Stellarium
Name[ml]=Stellarium
Name[mr]=स्टेलारीअम
Name[ms]=Stellarium
Name[nb]=Stellarium
Name[nds]=Stellarium
Name[ne]=Stellarium
Name[nl]=Stellarium
Name[nn]=Stellarium
Name[oc]=Stellarium
Name[pa]=Stellarium
Name[pl]=Stellarium
Name[pt]=Stellarium
Name[pt_BR]=Stellarium
Name[ro]=Stellarium
Name[ru]=Stellarium
Name[sah]=Stellarium
Name[se]=Stellarium
Name[si]=Stellarium
Name[sk]=Stellarium
Name[sl]=Stellarium
Name[sq]=Stellarium
Name[sr]=Стеларијум
Name[sv]=Stellarium
Name[ta]=ஸ்டெல்லாரியம்
Name[te]=స్టెల్లారియమ్
Name[tg]=Stellarium
Name[th]=Stellarium
Name[tr]=Stellarium
Name[tt]=Stellarium
Name[ug]=Stellarium
Name[uk]=Stellarium
Name[vi]=Stellarium
Name[xh]=Stellarium
Name[zh_CN]=Stellarium
Name[zh_HK]=Stellarium
Name[zh_TW]=Stellarium
GenericName=Desktop planetarium
GenericName[af]=Werkskerm Planetarium
GenericName[ar]=برنامج قبة سماوية للحاسب المكتبي
GenericName[ast]=Planetariu pal escritoriu
GenericName[az]=Masaüstü planetari
GenericName[be]=Настольны плянэтарый
GenericName[bg]=Планетариум за работния плот
GenericName[bn]=ডেস্কটপ প্ল্যানেটোরিয়াম
GenericName[br]=Planetarium a vurev
GenericName[bs]=Desktop planetarijum
GenericName[ca]=Planetari per a l'escriptori
GenericName[cs]=Planetárium na vaší obrazovce
GenericName[cy]=Planetariwm Penbwrdd
GenericName[da]=Planetarium på desktoppen
GenericName[de]=Elektronisches Planetarium
GenericName[el]=Πλανητάριο επιφάνειας εργασίας
GenericName[en_CA]=Desktop planetarium
GenericName[en_GB]=Desktop planetarium
GenericName[eo]=Tabula planetario
GenericName[es]=Planetario para el escritorio
GenericName[et]=Töölaua planetaarium
GenericName[eu]=Mahaigaineko planetarioa
GenericName[fa]=آسمان‌نمای رومیزی
GenericName[fi]=Työpöytäplanetaario
GenericName[fr]=Planétarium de bureau
GenericName[ga]=Pláinéadlann Deisce
GenericName[gd]=Amharc-lann nam planaidean airson an deasg
GenericName[gl]=Planetario de escritorio
GenericName[gu]=ડેસ્કટોપ પર પ્લેનેટેરીયમ
GenericName[he]=פלנטריום שולחני
GenericName[hi]=डेस्कटॉप प्लेनेटेरियम
GenericName[hr]=Planetarij za radnu površinu
GenericName[hu]=Munkaasztali planetárium
GenericName[hy]=Սեղանի մոլորակացույց
GenericName[id]=Planetarium Desktop
GenericName[is]=Skjáborðsstjörnuver
GenericName[it]=Planetario per il desktop
GenericName[ja]=デスクトップ・プラネタリウム
GenericName[ka]=სამაგიდო პლანეტარიუმი
GenericName[kk]=Үстелдегі планетарий
GenericName[ko]=데스크톱 별자리판
GenericName[lt]=Darbastalio planetariumas
GenericName[lv]=Darbvirsmas planetārijs
GenericName[mk]=Планетариум на работна површина
GenericName[ml]=പണിയിട പ്ലാനറ്റേറിയം
GenericName[mr]=डेस्कटॉप तारांगण
GenericName[ms]=Planetarium Ruang Kerja
GenericName[nb]=Skrivebordsplanetarium
GenericName[nds]=Planetarium för den Schriefdisch
GenericName[ne]=डेस्कटप ग्रहमण्डल
GenericName[nl]=Bureaublad-planetarium
GenericName[nn]=Skrivebordsplanetarium
GenericName[pa]=ਡੈਸਕਟਾਪ ਪਲੇਟੇਰੀਅਮ
GenericName[pl]=Planetarium na pulpicie
GenericName[pt]=Planetário
GenericName[pt_BR]=Planetário de ambiente de trabalho
GenericName[ro]=Planetarium de birou
GenericName[ru]=Настольный планетарий
GenericName[sk]=Planetárium na vašej ploche
GenericName[sl]=Namizni planetarij
GenericName[sr]=Планетаријум на радној површини
GenericName[sv]=Skrivbordsplanetarium
GenericName[ta]=கணிப்பொறி கோளரங்கம்
GenericName[tg]=Планетариуми Мизи Корӣ
GenericName[th]=ท้องฟ้าจำลองบนเดสก์ท็อป
GenericName[tr]=Masaüstü Yıldız Evi
GenericName[ug]=ئۈستەلئۈستى رەسەتخانىسى
GenericName[uk]=Настільний планетарій
GenericName[vi]=Ngắm sao trên Màn hình máy tính
GenericName[zh_CN]=桌面天文馆
GenericName[zh_TW]=桌面星象儀
Exec=stellarium
Icon=stellarium
StartupNotify=false
Terminal=false
Categories=Astronomy;Education;Science;
Comment=Planetarium
Comment[af]=Planetarium
Comment[ar]=قبة سماوية
Comment[ast]=Planetariu
Comment[az]=Planetari
Comment[be]=Плянэтарый
Comment[bg]=Планетариум
Comment[bn]=প্লানেটারিয়াম
Comment[bo]=གནམ་དཔྱད་ཁང
Comment[br]=Planetarium
Comment[bs]=Planetarium
Comment[ca]=Planetari
Comment[cs]=Planetárium
Comment[cy]=Planetariwm
Comment[da]=Planetarium
Comment[de]=Planetarium
Comment[el]=Πλανητάριο
Comment[en_CA]=Planetarium
Comment[en_GB]=Planetarium
Comment[eo]=Planetario
Comment[es]=Planetario
Comment[et]=Planetaarium
Comment[eu]=Planetarioa
Comment[fa]=آسمان‌نما
Comment[fi]=Planetaario
Comment[fr]=Un planétarium interactif
Comment[ga]=Pláinéadlann
Comment[gd]=Amharc-lann nam planaidean
Comment[gl]=Planetario
Comment[hr]=Planetarij
Comment[hu]=Planetárium
Comment[hy]=Մոլորակացույց
Comment[id]=Planetarium
Comment[is]=Stjörnuver
Comment[it]=Planetario
Comment[ja]=プラネタリウム
Comment[kk]=Планетарий
Comment[km]=សំណាក​ចក្រវាល
Comment[ko]=플라네타리움
Comment[ky]=Планетарий
Comment[la]=Planetarium
Comment[lt]=Planetariumas
Comment[lv]=Planetārijs
Comment[mk]=Планетариум
Comment[ms]=Planetarium
Comment[nb]=Planetarium
Comment[nds]=Planetarium
Comment[nl]=Planetarium
Comment[oc]=Un planetarium interactiu.
Comment[pl]=Planetarium
Comment[pt]=Planetário
Comment[pt_BR]=Planetário
Comment[ro]=Planetarium
Comment[ru]=Планетарий
Comment[sk]=Planetárium
Comment[sl]=Planetarium
Comment[sq]=Planetarium
Comment[sr]=Планетаријум
Comment[sv]=Planetarium
Comment[ta]=கோளரங்கம்
Comment[tg]=Planetarium
Comment[th]=ท้องฟ้าจำลอง
Comment[tr]=Planetarium
Comment[ug]=Planetarium
Comment[uk]=Планетарій
Comment[vi]=Mô hình vũ trụ
Comment[zh_CN]=天文馆
Comment[zh_HK]=天文館
Comment[zh_TW]=天文館
Keywords=astronomy;planetarium;

Actions=Window;Fullscreen;Debugmode;

[Desktop Action Window]
Name=Open in window
Name[ar]=افتح في نافذة
Name[ast]=Abrir na ventana
Name[az]=Pəncərədə aç
Name[be]=Адкрыць у вакне
Name[bn]=উইন্ডো আকারে চালু
Name[bs]=Otvori u prozoru
Name[ca]=Obrir en finestra
Name[cs]=Otevřít v okně
Name[da]=Åbn i vinduet
Name[de]=Im Fenster öffnen
Name[el]=Άνοιξε σε παράθυρο
Name[en_CA]=Open in window
Name[en_GB]=Open in window
Name[es]=Abrir en la ventana
Name[eu]=Ireki leihoan
Name[fa]=باز کردن در پنجره
Name[fi]=Avaa ikkunassa
Name[fr]=Ouvrir dans une fenêtre
Name[gd]=Fosgail ann an uinneag
Name[gl]=Abrir en fiestra
Name[hu]=Megjelenítés ablakban
Name[hy]=Բացել պատուհանում
Name[id]=Buka dalam tampilan layar Jendela
Name[is]=Opna í glugga
Name[it]=Apri in una finestra
Name[km]=បើក​ក្នុង​​បង្អួច
Name[ko]=창모드로 열기
Name[lt]=Atverti lange
Name[ms]=Buka dalam tetingkap
Name[nl]=In venster openen
Name[oc]=Dobrir dins la fenèstra
Name[pl]=Otwórz w oknie
Name[pt]=Abrir na janela
Name[pt_BR]=Abrir em uma janela
Name[ro]=Deschide în fereastră
Name[ru]=Открыть в окне
Name[sk]=Otvoriť v okne
Name[sl]=Odpri v oknu
Name[sq]=Hap në dritare
Name[sr]=Отвори у прозору
Name[sv]=Öppna i nytt fönster
Name[ta]=புது சாரளத்தில் திற
Name[th]=เปิดแบบหน้าต่าง
Name[tr]=Pencere içinde Aç
Name[uk]=Відкрити у вікні
Name[vi]=Mở ở chế độ cửa sổ
Name[zh_CN]=在窗口中打开
Exec=stellarium -f no

[Desktop Action Fullscreen]
Name=Open in fullscreen
Name[ar]=افتح بشاشة كاملة
Name[ast]=Abrir en pantalla completa
Name[az]=Tam ekranda aç
Name[be]=Адкрыць на поўны экран
Name[bn]=পুরো স্ক্রীন জুড়ে
Name[bs]=Otvori u punom ekranu
Name[ca]=Obrir a pantalla completa
Name[cs]=Otevřít na celou obrazovku
Name[da]=Åbn i fuldskærm
Name[de]=Im Vollbildmodus öffnen
Name[el]=Άνοιγμα σε πλήρη οθόνη
Name[en_CA]=Open in fullscreen
Name[en_GB]=Open in fullscreen
Name[es]=Abrir en pantalla completa
Name[eu]=Ireki pantaila osoan
Name[fa]=باز کردن در نمای تمام‌صفحه
Name[fi]=Avaa koko näytön tilassa
Name[fr]=Ouvrir en plein écran
Name[gd]=Fosgail sa mhodh làn-sgrìn
Name[gl]=Abrir en pantalla completa
Name[hu]=Megnyitás teljes képernyős módban
Name[hy]=Բացել լիէկրան
Name[id]=Buka dalam tampilan layar Penuh
Name[is]=Opna á öllum skjánum
Name[it]=Apri in modalità schermo intero
Name[ja]=最大化して開く
Name[km]=បើក​ពេញ​​អេក្រង់
Name[ko]=전체화면으로 열기
Name[lt]=Atverti visame ekrane
Name[ms]=Buka  dalam skrin penuh
Name[nl]=In volledig scherm openen
Name[oc]=Dobrir en ecran complet
Name[pl]=Otwórz na pełnym ekranie
Name[pt]=Abrir em ecrã inteiro
Name[pt_BR]=Abrir em tela cheia
Name[ro]=Deschide în ecran complet
Name[ru]=Открыть во весь экран
Name[sk]=Otvoriť na celú obrazovku
Name[sl]=Odpri v celozaslonskem načinu
Name[sq]=Hap në ekran të plotë
Name[sr]=Отвори преко целог екрана
Name[sv]=Öppna i helskärmsläge
Name[ta]=முழுத்திரையில் திற
Name[tg]=Кушодан дар экрани васеъ
Name[th]=เปิดแบบเต็มจอ
Name[tr]=Tam ekran olarak aç
Name[uk]=Відкрити у повноекранному режимі
Name[vi]=Mở toàn màn hình
Name[zh_CN]=在全凭模式下打开
Name[zh_TW]=以全螢幕開啟
Exec=stellarium -f yes

[Desktop Action Debugmode]
Name=Open in debug mode
Name[ar]=افتح في وضع التصحيح
Name[az]=Tərtibatçı rejimində aç
Name[be]=Адкрыць у рэжыме адладжваньня
Name[bn]=ডিবাগ মোডে চালু
Name[ca]=Obrir en mode depuració
Name[cs]=Otevřít v ladícím režimu
Name[de]=Im Debug-Modus öffnen
Name[el]=Άνοιξε σε λειτουργία εξάλειψης σφαλμάτων
Name[en_CA]=Open in debug mode
Name[en_GB]=Open in debug mode
Name[es]=Abrir en modo diagnóstico
Name[eu]=Ireki arazketa moduan
Name[fa]=باز کردن در نمای دیباگ
Name[fi]=Avaa vianetsintätilassa
Name[fr]=Ouvrir en mode de débogage
Name[gd]=Fosgail sa mhodh dì-bhugachaidh
Name[gl]=Abrir en modo depuración
Name[hu]=Megnyitás hibakeresés módban
Name[hy]=Բացել վրիպազերծման ռեժիմում
Name[id]=Buka dalam Mode Debug
Name[is]=Opna í aflúsunarham
Name[it]=Apri in modalità di debug
Name[ko]=디버그 모드로 열기
Name[lt]=Atverti derinimo režime
Name[ms]=Buka dalam mod nyahpepijat
Name[nl]=In foutopsporingsmodus openen
Name[pl]=Otwórz w trybie debugowania
Name[pt]=Abrir em modo de depuração
Name[pt_BR]=Abrir em modo de depuração
Name[ru]=Открыть в режиме отладки
Name[sk]=Otvoriť v ladiacom režime
Name[sr]=Отвори у режиму прочишћавања
Name[sv]=Öppna i debugläge
Name[ta]=பிழை நீக்கியில் திற
Name[th]=เปิดแบบแก้จุดบกพร่อง
Name[tr]=Hata ayıklama modunda aç
Name[uk]=Відкрити у режимі діагностики
Name[zh_CN]=以 debug 模式打开
Exec=stellarium --dump-opengl-details
